openapi: 3.1.0
info:
  title: adapt Admin API (V1 - Ã¥Å¸ÂºÃ¦Å“Â¬Ã¨Â¨Â­Ã¨Â¨Ë†Ã¦â€ºÂ¸Ã¥Â®Å’Ã¥â€¦Â¨Ã¦Âºâ€“Ã¦â€¹Â )
  version: v19-integrated
  description: "adapt Ã£â€šÂªÃ£Æ’Â³Ã£Æ’Â©Ã£â€šÂ¤Ã£Æ’Â³Ã¥Â­Â¦Ã§Â¿â€™Ã£Æ’â€”Ã£Æ’Â©Ã£Æ’Æ’Ã£Æ’Ë†Ã£Æ’â€¢Ã£â€šÂ©Ã£Æ’Â¼Ã£Æ’Â  Admin API\n\n## Ã¦Â¦â€šÃ¨Â¦Â\n- **Ã¥Â¯Â¾Ã¨Â±Â¡**: Ã©Ââ€¹Ã¥â€“Â¶Ã¨â‚¬â€¦Ã¥Ââ€˜Ã£Ââ€˜Ã§Â®Â¡Ã§Ââ€ API\n- **Ã¨ÂªÂÃ¨Â¨Â¼**: OIDCÃ¯Â¼Ë†auth.adapt-co.ioÃ¯Â¼â€°+ Bearer Token\n\
    - **Ã¦Â¨Â©Ã©â„¢Â**: operator Ã£ÂÂ¾Ã£ÂÅ¸Ã£ÂÂ¯ root_operator Ã£ÂÂ®Ã£ÂÂ¿\n- **Ã£â€šÂ¨Ã£Æ’Â³Ã£Æ’â€°Ã£Æ’ÂÃ£â€šÂ¤Ã£Æ’Â³Ã£Æ’Ë†Ã¦â€¢Â°**: 14Ã¥â‚¬â€¹\n- **Ã¥Å¸ÂºÃ¦Å“Â¬Ã¨Â¨Â­Ã¨Â¨Ë†Ã¦â€ºÂ¸**: 06_APIÃ¤Â¸â‚¬Ã¨Â¦Â§ Ã¥Â®Å’Ã¥â€¦Â¨Ã¦Âºâ€“Ã¦â€¹Â Ã¯Â¼Ë†100%Ã¯Â¼â€°\n\n## Ã¦Â©Å¸Ã¨Æ’Â½Ã£â€šÂ°Ã£Æ’Â«Ã£Æ’Â¼Ã£Æ’â€”\n\n### Ã£â€šÂ³Ã£Æ’Â¼Ã£â€šÂ¹Ã§Â®Â¡Ã§Ââ€ \n\
    - Ã£â€šÂ³Ã£Æ’Â¼Ã£â€šÂ¹Ã¤Â¸â‚¬Ã¨Â¦Â§Ã£Æ’Â»Ã¦Â¤Å“Ã§Â´Â¢\n- Ã£â€šÂ³Ã£Æ’Â¼Ã£â€šÂ¹Ã¦â€°Â¿Ã¨ÂªÂÃ¯Â¼Ë†Ã¥Â¯Â©Ã¦Å¸Â»Ã¯Â¼â€°\n- Ã£â€šÂ³Ã£Æ’Â¼Ã£â€šÂ¹Ã¥â€¡ÂÃ§ÂµÂÃ£Æ’Â»Ã¥â€¡ÂÃ§ÂµÂÃ¨Â§Â£Ã©â„¢Â¤\n- Ã§â€ºÂ£Ã¦Å¸Â»Ã£Æ’Â­Ã£â€šÂ°Ã©â€“Â²Ã¨Â¦Â§\n\n### Ã£Æ’Â¦Ã£Æ’Â¼Ã£â€šÂ¶Ã£Æ’Â¼Ã£Æ’Â»Ã¨Â¬â€ºÃ¥Â¸Â«Ã§Â®Â¡Ã§Ââ€ \n- Ã£Æ’Â¦Ã£Æ’Â¼Ã£â€šÂ¶Ã£Æ’Â¼Ã¤Â¸â‚¬Ã¨Â¦Â§Ã£Æ’Â»Ã¦Â¤Å“Ã§Â´Â¢\n- Ã£Æ’Â¦Ã£Æ’Â¼Ã£â€šÂ¶Ã£Æ’Â¼Ã¥â€¡ÂÃ§ÂµÂ\n\n### Ã£Æ’ÂÃ£Æ’Â£Ã£Æ’Â³Ã£Æ’ÂÃ£Æ’Â«Ã§Â®Â¡Ã§Ââ€ \n- Ã£Æ’ÂÃ£Æ’Â£Ã£Æ’Â³Ã£Æ’ÂÃ£Æ’Â«Ã¥â€¡ÂÃ§ÂµÂÃ£Æ’Â»Ã¥â€¡ÂÃ§ÂµÂÃ¨Â§Â£Ã©â„¢Â¤\n\
    - Ã¤Â¸ÂÃ©ÂÂ©Ã¥Ë†â€¡Ã£â€šÂ³Ã£Æ’Â³Ã£Æ’â€ Ã£Æ’Â³Ã£Æ’â€žÃ¥Â¯Â¾Ã¥Â¿Å“\n\n### Ã¦Â±ÂºÃ¦Â¸Ë†Ã§Â®Â¡Ã§Ââ€ \n- Ã¦Â±ÂºÃ¦Â¸Ë†Ã¤Â¸â‚¬Ã¨Â¦Â§\n- Ã¥Â£Â²Ã¤Â¸Å Ã¥Ë†â€ Ã¦Å¾Â\n- Ã¨Â¿â€Ã©â€¡â€˜Ã¥â€¡Â¦Ã§Ââ€ \n\n### Ã©Ââ€¹Ã¥â€“Â¶Ã£â€šÂ¹Ã£â€šÂ¿Ã£Æ’Æ’Ã£Æ’â€¢Ã§Â®Â¡Ã§Ââ€ \n- Ã©Ââ€¹Ã¥â€“Â¶Ã£â€šÂ¹Ã£â€šÂ¿Ã£Æ’Æ’Ã£Æ’â€¢Ã¤Â¸â‚¬Ã¨Â¦Â§\n- Ã©Ââ€¹Ã¥â€“Â¶Ã£â€šÂ¹Ã£â€šÂ¿Ã£Æ’Æ’Ã£Æ’â€¢Ã¨Â¿Â½Ã¥Å Â \n- Ã¦Â¨Â©Ã©â„¢ÂÃ§Â®Â¡Ã§Ââ€ Ã¯Â¼Ë†operator/root_operatorÃ¯Â¼â€°\n\
    \n## Ã¨ÂªÂÃ¨Â¨Â¼Ã£Æ’Â»Ã¨ÂªÂÃ¥ÂÂ¯\n\n### Ã¨ÂªÂÃ¨Â¨Â¼Ã¦â€“Â¹Ã¥Â¼Â\n- **OIDC**: auth.adapt-co.ioÃ£ÂÂ§Ã£ÂÂ®Ã¨ÂªÂÃ¨Â¨Â¼\n- **Bearer Token**: JWTÃ£Æ’Ë†Ã£Æ’Â¼Ã£â€šÂ¯Ã£Æ’Â³Ã£â€šâ€™AuthorizationÃ£Æ’ËœÃ£Æ’Æ’Ã£Æ’â‚¬Ã£Æ’Â¼Ã£ÂÂ«Ã¨Â¨Â­Ã¥Â®Å¡\n- **Ã¥â€¦Â¨Ã£â€šÂ¨Ã£Æ’Â³Ã£Æ’â€°Ã£Æ’ÂÃ£â€šÂ¤Ã£Æ’Â³Ã£Æ’Ë†**:\
    \ Ã¨ÂªÂÃ¨Â¨Â¼Ã¥Â¿â€¦Ã©Â Ë†\n\n### Ã£Æ’Â­Ã£Æ’Â¼Ã£Æ’Â«Ã©Å¡Å½Ã¥Â±Â¤\n- `root_operator`: Ã£Ââ„¢Ã£ÂÂ¹Ã£ÂÂ¦Ã£ÂÂ®Ã¦Â¨Â©Ã©â„¢ÂÃ¯Â¼Ë†DMÃ©â€“Â²Ã¨Â¦Â§Ã£â‚¬ÂÃ§Â·Å Ã¦â‚¬Â¥Ã¥â€¡ÂÃ§ÂµÂÃ§Â­â€°Ã¯Â¼â€°\n- `operator`: Ã©â‚¬Å¡Ã¥Â¸Â¸Ã£ÂÂ®Ã©Ââ€¹Ã¥â€“Â¶Ã¦Â¨Â©Ã©â„¢Â\n\n### x-roles Ã¦â€¹Â¡Ã¥Â¼ÂµÃ£Æ’â€”Ã£Æ’Â­Ã£Æ’â€˜Ã£Æ’â€ Ã£â€šÂ£\n```yaml\nx-roles:\n\
    \  - operator  # operatorÃ¤Â»Â¥Ã¤Â¸Å Ã¯Â¼Ë†root_operatorÃ¥ÂÂ«Ã£â€šâ‚¬Ã¯Â¼â€°\n  \nx-roles:\n  - root_operator      # root_operator Ã£ÂÂ®Ã£ÂÂ¿\n```\n\n## Ã§â€ºÂ£Ã¦Å¸Â»Ã£Æ’Â­Ã£â€šÂ°\n\
    \n### Ã¨â€¡ÂªÃ¥â€¹â€¢Ã¨Â¨ËœÃ©Å’Â²\nÃ¤Â»Â¥Ã¤Â¸â€¹Ã£ÂÂ®Ã¦â€œÂÃ¤Â½Å“Ã£ÂÂ¯Ã¨â€¡ÂªÃ¥â€¹â€¢Ã§Å¡â€žÃ£ÂÂ«Ã§â€ºÂ£Ã¦Å¸Â»Ã£Æ’Â­Ã£â€šÂ°Ã£ÂÂ«Ã¨Â¨ËœÃ©Å’Â²Ã¯Â¼Å¡\n- Ã£â€šÂ³Ã£Æ’Â¼Ã£â€šÂ¹Ã¥â€¡ÂÃ§ÂµÂÃ£Æ’Â»Ã¥â€¡ÂÃ§ÂµÂÃ¨Â§Â£Ã©â„¢Â¤\n- Ã£Æ’ÂÃ£Æ’Â£Ã£Æ’Â³Ã£Æ’ÂÃ£Æ’Â«Ã¥â€¡ÂÃ§ÂµÂÃ£Æ’Â»Ã¥â€¡ÂÃ§ÂµÂÃ¨Â§Â£Ã©â„¢Â¤\n- Ã£Æ’Â¦Ã£Æ’Â¼Ã£â€šÂ¶Ã£Æ’Â¼Ã¥â€¡ÂÃ§ÂµÂ\n- DMÃ©â€“Â²Ã¨Â¦Â§Ã¯Â¼Ë†root_operatorÃ¦Â¨Â©Ã©â„¢ÂÃ¯Â¼â€°\n- Ã§Â·Å Ã¦â‚¬Â¥Ã£â€šÂ¢Ã£Æ’Å Ã£â€šÂ¦Ã£Æ’Â³Ã£â€šÂ¹Ã¦Å â€¢Ã§Â¨Â¿\n\n### Ã§â€ºÂ£Ã¦Å¸Â»Ã£â€šÂ¤Ã£Æ’â„¢Ã£Æ’Â³Ã£Æ’Ë†Ã§Â¨Â®Ã¥Ë†Â¥\n\
    - `course_frozen`: Ã£â€šÂ³Ã£Æ’Â¼Ã£â€šÂ¹Ã¥â€¡ÂÃ§ÂµÂ\n- `course_unfrozen`: Ã£â€šÂ³Ã£Æ’Â¼Ã£â€šÂ¹Ã¥â€¡ÂÃ§ÂµÂÃ¨Â§Â£Ã©â„¢Â¤\n- `channel_frozen`: Ã£Æ’ÂÃ£Æ’Â£Ã£Æ’Â³Ã£Æ’ÂÃ£Æ’Â«Ã¥â€¡ÂÃ§ÂµÂ\n- `channel_unfrozen`: Ã£Æ’ÂÃ£Æ’Â£Ã£Æ’Â³Ã£Æ’ÂÃ£Æ’Â«Ã¥â€¡ÂÃ§ÂµÂÃ¨Â§Â£Ã©â„¢Â¤\n\
    - `dm_viewed_by_root_operator`: root_operatorÃ£ÂÂ«Ã£â€šË†Ã£â€šâ€¹DMÃ©â€“Â²Ã¨Â¦Â§\n\n## Ã¨Â¨Â­Ã¨Â¨Ë†Ã¥Å½Å¸Ã¥â€°â€¡\n\n### Ã£â€šÂ¢Ã£Æ’Â¼Ã£â€šÂ­Ã£Æ’â€ Ã£â€šÂ¯Ã£Æ’ÂÃ£Æ’Â£\n- **Repository Pattern**: ServiceÃ¥Â±Â¤Ã£ÂÂ¯ORMÃ©ÂÅ¾Ã¤Â¾ÂÃ¥Â­Ëœ\n\
    - **DTOÃ¥Ë†â€ Ã©â€ºÂ¢**: Prisma ModelÃ£ÂÂ¯DTOÃ£ÂÂ¨Ã£Ââ€”Ã£ÂÂ¦Ã¥â€¦Â¬Ã©â€“â€¹Ã£Ââ€”Ã£ÂÂªÃ£Ââ€ž\n- **Ã§â€ºÂ£Ã¦Å¸Â»Ã£Æ’Â­Ã£â€šÂ°**: Ã©â€¡ÂÃ¨Â¦ÂÃ¦â€œÂÃ¤Â½Å“Ã£ÂÂ¯Ã¥Â¿â€¦Ã£ÂÅ¡Ã¨Â¨ËœÃ©Å’Â²\n\n### Ã£â€šÂ»Ã£â€šÂ­Ã£Æ’Â¥Ã£Æ’ÂªÃ£Æ’â€ Ã£â€šÂ£\n- **Ã¦Â¨Â©Ã©â„¢ÂÃ£Æ’ÂÃ£â€šÂ§Ã£Æ’Æ’Ã£â€šÂ¯**: Ã¥â€¦Â¨Ã£â€šÂ¨Ã£Æ’Â³Ã£Æ’â€°Ã£Æ’ÂÃ£â€šÂ¤Ã£Æ’Â³Ã£Æ’Ë†Ã£ÂÂ§Ã£Æ’Â­Ã£Æ’Â¼Ã£Æ’Â«Ã§Â¢ÂºÃ¨ÂªÂ\n- **Ã§â€ºÂ£Ã¦Å¸Â»Ã£Æ’Â­Ã£â€šÂ°**:\
    \ Ã£Ââ„¢Ã£ÂÂ¹Ã£ÂÂ¦Ã£ÂÂ®Ã§Â®Â¡Ã§Ââ€ Ã¦â€œÂÃ¤Â½Å“Ã£â€šâ€™Ã¨Â¨ËœÃ©Å’Â²\n- **Ã£Æ’Â¬Ã£Æ’Â¼Ã£Æ’Ë†Ã¥Ë†Â¶Ã©â„¢Â**: abuseÃ©ËœÂ²Ã¦Â­Â¢\n\n## Ã¦Å â‚¬Ã¨Â¡â€œÃ£â€šÂ¹Ã£â€šÂ¿Ã£Æ’Æ’Ã£â€šÂ¯\n- **Ã£Æ’â€¢Ã£Æ’Â¬Ã£Æ’Â¼Ã£Æ’Â Ã£Æ’Â¯Ã£Æ’Â¼Ã£â€šÂ¯**: NestJS\n- **DB**: PostgreSQL\n- **ORM**: Prisma\n- **Ã¨ÂªÂÃ¨Â¨Â¼**:\
    \ OIDC + Google OAuth\n"
servers:
- url: https://admin.adapt-co.io
tags:
- name: Admin
- name: admin
paths:
  /api/v1/admin/courses:
    get:
      tags:
      - Admin
      summary: Ã¥â€¦Â¨Ã¨Â¬â€ºÃ¥ÂºÂ§Ã¤Â¸â‚¬Ã¨Â¦Â§
      description: Ã£â€šÂ·Ã£â€šÂ¹Ã£Æ’â€ Ã£Æ’Â Ã¥â€¦Â¨Ã¤Â½â€œÃ£ÂÂ®Ã¥â€¦Â¨Ã£â€šÂ³Ã£Æ’Â¼Ã£â€šÂ¹Ã¦Â¤Å“Ã§Â´Â¢Ã£â‚¬â€šÃ£â€šÂ¹Ã£Æ’â€ Ã£Æ’Â¼Ã£â€šÂ¿Ã£â€šÂ¹Ã£â€šâ€žÃ¥Â£Â²Ã¤Â¸Å Ã¨Â¦ÂÃ¦Â¨Â¡Ã£ÂÂ§Ã£ÂÂ®Ã£â€šÂ½Ã£Æ’Â¼Ã£Æ’Ë†Ã£ÂÅ’Ã¥ÂÂ¯Ã¨Æ’Â½Ã£â‚¬â€š
      operationId: API_069
      x-api-id: API-069
      x-roles: operator, root_operator
      x-policy: '-'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseListResponse'
      security:
      - bearerAuth: []
    post:
      tags:
      - admin
      summary: Ã¨Â¬â€ºÃ¥ÂºÂ§Ã¦â€“Â°Ã¨Â¦ÂÃ¤Â½Å“Ã¦Ë†ÂÃ¯Â¼Ë†Ã©Ââ€¹Ã¥â€“Â¶Ã¯Â¼â€°
      description: operator/root_operator Ã£ÂÅ’Ã¨Â¬â€ºÃ¥ÂºÂ§Ã£â€šâ€™Ã¤Â½Å“Ã¦Ë†ÂÃ£Ââ€”Ã£â‚¬ÂownerUserIdÃ¯Â¼Ë†=Ã¦Å’â€¡Ã¥Â®Å¡Ã¨Â¬â€ºÃ¥Â¸Â«Ã¯Â¼â€°Ã£â€šâ€™Ã¥Â¿â€¦Ã©Â Ë†Ã¦Å’â€¡Ã¥Â®Å¡Ã£Ââ„¢Ã£â€šâ€¹Ã£â‚¬â€šÃ¥Ë†ÂÃ¦Å“Å¸status=draftÃ¯Â¼Ë†Ã©ÂÅ¾Ã¥â€¦Â¬Ã©â€“â€¹Ã¯Â¼â€°Ã£â‚¬â€šÃ¦â€°Â¿Ã¨ÂªÂÃ¥â€¦ÂÃ©â„¢Â¤Ã£â‚¬â€šÃ¥â€¦Â¬Ã©â€“â€¹Ã£ÂÂ¯Ã¨Â¬â€ºÃ¥Â¸Â«Ã¥ÂÂ´Ã£ÂÂ®publishÃ¦â€œÂÃ¤Â½Å“Ã£ÂÂ§Ã¨Â¡Å’Ã£Ââ€ Ã¯Â¼Ë†publishÃ¦â„¢â€šÃ£ÂÂ«CourseMember.role=instructorÃ¢â€ â€™instructor_ownerÃ£ÂÂ¸Ã¦Ëœâ€¡Ã¦Â Â¼Ã¯Â¼â€°Ã£â‚¬â€š
      x-roles: operator, root_operator
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCourseCreateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/admin/courses/{courseId}/approve:
    post:
      tags:
      - Admin
      summary: Ã¨Â¬â€ºÃ¥ÂºÂ§Ã¥Â¯Â©Ã¦Å¸Â»Ã£Æ’Â»Ã¦â€°Â¿Ã¨ÂªÂ
      description: Ã¥â€¦Â¬Ã©â€“â€¹Ã§â€Â³Ã¨Â«â€¹Ã¤Â¸Â­Ã£ÂÂ®Ã¨Â¬â€ºÃ¥ÂºÂ§Ã£â€šâ€™Ã¦â€°Â¿Ã¨ÂªÂÃ£â‚¬â€šstatusÃ£â€šâ€™activeÃ£ÂÂ«Ã£Ââ€”LPÃ£â€šâ€™Ã¥â€¦Â¬Ã©â€“â€¹Ã£Ââ„¢Ã£â€šâ€¹Ã£â‚¬â€š
      operationId: API_070
      x-api-id: API-070
      x-roles: operator, root_operator
      x-policy: AUDIT_LOG
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseDetailView'
      security:
      - bearerAuth: []
      parameters:
      - name: courseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericWriteRequest'
  /api/v1/admin/courses/{courseId}/freeze:
    post:
      tags:
      - Admin
      summary: Ã£â€šÂ³Ã£Æ’Â¼Ã£â€šÂ¹Ã¥â€¡ÂÃ§ÂµÂÃ¯Â¼Ë†Ã©Ââ€¹Ã¥â€“Â¶Ã¯Â¼â€°
      description: 'Ã¨Â¦ÂÃ§Â´â€žÃ©Ââ€¢Ã¥ÂÂÃ§Â­â€°Ã£ÂÂ®Ã©Å¡â€ºÃ£ÂÂ«Ã§â„¢ÂºÃ¥â€¹â€¢Ã£â‚¬â€šÃ¥â€¦Â¨Ã¦â€ºÂ´Ã¦â€“Â°APIÃ£â€šâ€™423 LockedÃ£ÂÂ«Ã£Ââ„¢Ã£â€šâ€¹Ã£â‚¬â€š

        ---

        Ã£â€šÂ³Ã£Æ’Â¼Ã£â€šÂ¹Ã£â€šâ€™Ã¥â€¡ÂÃ§ÂµÂÃ£Ââ€”Ã£â‚¬ÂÃ¥â€¦Â¨Ã£Æ’Â¦Ã£Æ’Â¼Ã£â€šÂ¶Ã£Æ’Â¼Ã£ÂÂ®Ã£â€šÂ¢Ã£â€šÂ¯Ã£â€šÂ»Ã£â€šÂ¹Ã£â€šâ€™423 LockedÃ£ÂÂ«Ã£Ââ„¢Ã£â€šâ€¹'
      operationId: API_079
      x-api-id: API-079
      x-roles: operator, root_operator
      x-policy: AUDIT_LOG
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseDetailView'
      security:
      - bearerAuth: []
      parameters:
      - name: courseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericWriteRequest'
      x-api-merged-from:
      - API-071
  /api/v1/admin/audit/courses/{courseId}:
    get:
      tags:
      - Admin
      summary: '[Ã§â€ºÂ£Ã¦Å¸Â»]Ã¥â€¡ÂÃ§ÂµÂÃ¨Â¬â€ºÃ¥ÂºÂ§Ã©â€“Â²Ã¨Â¦Â§'
      description: Ã¥â€¡ÂÃ§ÂµÂÃ¤Â¸Â­Ã£ÂÂ®Ã§Â§ËœÃ¥Å’Â¿Ã£â€šÂ³Ã£Æ’Â³Ã£Æ’â€ Ã£Æ’Â³Ã£Æ’â€žÃ£â€šâ€™Ã§Â²Â¾Ã¦Å¸Â»Ã£â‚¬â€šÃ¨ÂªÂ°Ã£ÂÅ’Ã©â€“Â²Ã¨Â¦Â§Ã£Ââ€”Ã£ÂÅ¸Ã£Ââ€¹Ã£ÂÂ®Ã£Æ’Â­Ã£â€šÂ°Ã£â€šâ€™Ã¥Â¼Â·Ã¥Ë†Â¶Ã¨Â¨ËœÃ©Å’Â²Ã£â‚¬â€š
      operationId: API_073
      x-api-id: API-073
      x-roles: operator, root_operator
      x-policy: AUDIT_LOG(Ã¥Â¼Â·Ã¥Ë†Â¶)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericDetailView'
      security:
      - bearerAuth: []
      parameters:
      - name: courseId
        in: path
        required: true
        schema:
          type: string
  /api/v1/admin/users:
    get:
      tags:
      - Admin
      summary: Ã¥â€¦Â¨Ã£Æ’Â¦Ã£Æ’Â¼Ã£â€šÂ¶Ã£Æ’Â¼Ã¤Â¸â‚¬Ã¨Â¦Â§
      description: Ã£Æ’â€”Ã£Æ’Â©Ã£Æ’Æ’Ã£Æ’Ë†Ã£Æ’â€¢Ã£â€šÂ©Ã£Æ’Â¼Ã£Æ’Â Ã¤Â¸Å Ã£ÂÂ®Ã¥â€¦Â¨Ã£â€šÂ¢Ã£â€šÂ«Ã£â€šÂ¦Ã£Æ’Â³Ã£Æ’Ë†Ã£â€šâ€™Ã¦Â¨ÂªÃ¦â€“Â­Ã¦Â¤Å“Ã§Â´Â¢Ã£â‚¬â€š
      operationId: API_074
      x-api-id: API-074
      x-roles: operator, root_operator
      x-policy: '-'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
      security:
      - bearerAuth: []
  /api/v1/admin/users/{userId}/freeze:
    post:
      tags:
      - Admin
      summary: Ã£Æ’Â¦Ã£Æ’Â¼Ã£â€šÂ¶Ã£Æ’Â¼Ã¥â€¡ÂÃ§ÂµÂ(BAN)
      description: Ã¦â€šÂªÃ¨Â³ÂªÃ£Æ’Â¦Ã£Æ’Â¼Ã£â€šÂ¶Ã£Æ’Â¼Ã£ÂÂ®Ã£â€šÂ·Ã£â€šÂ¹Ã£Æ’â€ Ã£Æ’Â Ã¥â€¦Â¨Ã¤Â½â€œÃ£ÂÂ¸Ã£ÂÂ®Ã£â€šÂ¢Ã£â€šÂ¯Ã£â€šÂ»Ã£â€šÂ¹Ã§Â¦ÂÃ¦Â­Â¢Ã¥â€¡Â¦Ã§Ââ€ Ã£â‚¬â€š
      operationId: API_075
      x-api-id: API-075
      x-roles: operator, root_operator
      x-policy: AUDIT_LOG
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
      security:
      - bearerAuth: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericWriteRequest'
  /api/v1/admin/users/{userId}/unfreeze:
    post:
      tags:
      - Admin
      summary: ãƒ¦ãƒ¼ã‚¶ãƒ¼å‡çµè§£é™¤
      description: å‡çµä¸­ãƒ¦ãƒ¼ã‚¶ãƒ¼ã®ã‚·ã‚¹ãƒ†ãƒ å…¨ä½“ã¸ã®ã‚¢ã‚¯ã‚»ã‚¹ç¦æ­¢ã‚’è§£é™¤ã™ã‚‹ã€‚
      operationId: API_075B
      x-api-id: API-075B
      x-roles: operator, root_operator
      x-policy: AUDIT_LOG
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
      security:
      - bearerAuth: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericWriteRequest'
  /api/v1/admin/operators:
    get:
      tags:
      - Admin
      summary: Ã©Ââ€¹Ã¥â€“Â¶Ã£â€šÂ¹Ã£â€šÂ¿Ã£Æ’Æ’Ã£Æ’â€¢Ã¤Â¸â‚¬Ã¨Â¦Â§
      description: 'Ã©Ââ€¹Ã¥â€“Â¶Ã£â€šÂ¢Ã£â€šÂ«Ã£â€šÂ¦Ã£Æ’Â³Ã£Æ’Ë†(GlobalRole: operator/root)Ã£ÂÂ®Ã§Â®Â¡Ã§Ââ€ Ã£â‚¬â€š'
      operationId: API_076
      x-api-id: API-076
      x-roles: root_operator
      x-policy: '-'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatorListResponse'
      security:
      - bearerAuth: []
    post:
      tags:
      - Admin
      summary: Ã©Ââ€¹Ã¥â€“Â¶Ã£â€šÂ¹Ã£â€šÂ¿Ã£Æ’Æ’Ã£Æ’â€¢Ã¨Â¿Â½Ã¥Å Â 
      description: Ã¦â€“Â°Ã¨Â¦ÂÃ©Ââ€¹Ã¥â€“Â¶Ã£â€šÂ¢Ã£â€šÂ«Ã£â€šÂ¦Ã£Æ’Â³Ã£Æ’Ë†Ã£ÂÂ®Ã§â„¢ÂºÃ¨Â¡Å’Ã£â‚¬â€šÃ§â€ºÂ£Ã¦Å¸Â»Ã£Æ’Â­Ã£â€šÂ°Ã¥Â¯Â¾Ã¨Â±Â¡Ã£â‚¬â€š
      operationId: API_077
      x-api-id: API-077
      x-roles: root_operator
      x-policy: AUDIT_LOG
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericWriteRequest'
  /api/v1/admin/payments:
    get:
      tags:
      - Admin
      summary: Ã¦Â±ÂºÃ¦Â¸Ë†Ã¥Â±Â¥Ã¦Â­Â´Ã¤Â¸â‚¬Ã¨Â¦Â§
      description: StripeÃ§ÂµÅ’Ã§â€Â±Ã£ÂÂ®Ã¥â€¦Â¨Ã¦Â±ÂºÃ¦Â¸Ë†Ã£Æ’Â­Ã£â€šÂ°Ã£â‚¬ÂÃ¨Â¿â€Ã©â€¡â€˜Ã¥Â¯Â¾Ã¥Â¿Å“Ã§Å Â¶Ã¦Â³ÂÃ£â‚¬ÂÃ¥Â£Â²Ã¤Â¸Å Ã¥Ë†â€ Ã©â€¦ÂÃ£â€šâ€™Ã§â€ºÂ£Ã¨Â¦â€“Ã£â‚¬â€š
      operationId: API_078
      x-api-id: API-078
      x-roles: operator, root_operator
      x-policy: '-'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentListResponse'
      security:
      - bearerAuth: []
  /api/v1/admin/courses/{courseId}/unfreeze:
    post:
      tags:
      - Admin
      summary: Ã£â€šÂ³Ã£Æ’Â¼Ã£â€šÂ¹Ã¥â€¡ÂÃ§ÂµÂÃ¨Â§Â£Ã©â„¢Â¤Ã¯Â¼Ë†Ã©Ââ€¹Ã¥â€“Â¶Ã¯Â¼â€°
      description: Ã£â€šÂ³Ã£Æ’Â¼Ã£â€šÂ¹Ã£ÂÂ®Ã¥â€¡ÂÃ§ÂµÂÃ£â€šâ€™Ã¨Â§Â£Ã©â„¢Â¤Ã£Ââ€”Ã£â‚¬ÂÃ©â‚¬Å¡Ã¥Â¸Â¸Ã£â€šÂ¢Ã£â€šÂ¯Ã£â€šÂ»Ã£â€šÂ¹Ã£â€šâ€™Ã¥Â¾Â©Ã¥Â¸Â°Ã£Ââ€¢Ã£Ââ€ºÃ£â€šâ€¹
      operationId: API_080
      x-api-id: API-080
      x-roles: root_operator
      x-policy: '-'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseDetailView'
      security:
      - bearerAuth: []
      parameters:
      - name: courseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericWriteRequest'
  /api/v1/admin/channels/{channelId}/freeze:
    post:
      tags:
      - Admin
      summary: Ã£Æ’ÂÃ£Æ’Â£Ã£Æ’Â³Ã£Æ’ÂÃ£Æ’Â«Ã¥â€¡ÂÃ§ÂµÂÃ¯Â¼Ë†Ã©Ââ€¹Ã¥â€“Â¶Ã¯Â¼â€°
      description: Ã£Æ’ÂÃ£Æ’Â£Ã£Æ’Â³Ã£Æ’ÂÃ£Æ’Â«Ã£â€šâ€™Ã¥â€¡ÂÃ§ÂµÂ
      operationId: API_081
      x-api-id: API-081
      x-roles: operator, root_operator
      x-policy: '-'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseChannelDetailView'
      security:
      - bearerAuth: []
      parameters:
      - name: channelId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericWriteRequest'
  /api/v1/admin/channels/{channelId}/unfreeze:
    post:
      tags:
      - Admin
      summary: Ã£Æ’ÂÃ£Æ’Â£Ã£Æ’Â³Ã£Æ’ÂÃ£Æ’Â«Ã¥â€¡ÂÃ§ÂµÂÃ¨Â§Â£Ã©â„¢Â¤Ã¯Â¼Ë†Ã©Ââ€¹Ã¥â€“Â¶Ã¯Â¼â€°
      description: Ã£Æ’ÂÃ£Æ’Â£Ã£Æ’Â³Ã£Æ’ÂÃ£Æ’Â«Ã£ÂÂ®Ã¥â€¡ÂÃ§ÂµÂÃ£â€šâ€™Ã¨Â§Â£Ã©â„¢Â¤
      operationId: API_082
      x-api-id: API-082
      x-roles: root_operator
      x-policy: '-'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseChannelDetailView'
      security:
      - bearerAuth: []
      parameters:
      - name: channelId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericWriteRequest'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        isActive:
          type: boolean
        deletedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        globalRole:
          $ref: '#/components/schemas/GlobalRole'
          enum:
          - guest
          - learner
          - instructor
          - assistant
          - operator
          - root_operator
      additionalProperties: false
      required:
      - createdAt
      - id
      - isActive
      - updatedAt
      - globalRole
    UserCreateRequest:
      type: object
      properties:
        email:
          type: string
        name:
          type: string
        isActive:
          type: boolean
        deletedAt:
          type: string
          format: date-time
      additionalProperties: false
    UserUpdateRequest:
      type: object
      properties:
        email:
          type: string
        name:
          type: string
        isActive:
          type: boolean
        deletedAt:
          type: string
          format: date-time
      additionalProperties: false
    PlatformMembership:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        role:
          type: string
          enum: &id001
          - operator
          - root_operator
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - createdAt
      - id
      - role
      - updatedAt
      - userId
    PlatformMembershipCreateRequest:
      type: object
      properties:
        userId:
          type: string
        role:
          type: string
          enum: *id001
      additionalProperties: false
      required:
      - role
      - userId
    PlatformMembershipUpdateRequest:
      type: object
      properties:
        userId:
          type: string
        role:
          type: string
          enum: *id001
      additionalProperties: false
    Course:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
          nullable: true
        ownerUserId:
          type: string
        catalogVisibility:
          type: string
          enum: &id002
          - public_listed
          - public_unlisted
          - private
        visibility:
          type: string
          enum: &id003
          - public
          - instructors_only
        isFrozen:
          type: boolean
        frozenAt:
          type: string
          format: date-time
          nullable: true
        frozenByUserId:
          type: string
          nullable: true
        freezeReason:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        createdByUserId:
          type: string
          description: Ã¤Â½Å“Ã¦Ë†ÂÃ¨â‚¬â€¦Ã£Æ’Â¦Ã£Æ’Â¼Ã£â€šÂ¶Ã£Æ’Â¼IDÃ¯Â¼Ë†instructor Ã¤Â½Å“Ã¦Ë†Â or operator/root Ã¤Â½Å“Ã¦Ë†ÂÃ¯Â¼â€°
        status:
          type: string
          enum:
          - draft
          - pending_approval
          - active
          - archived
          description: Ã¨Â¬â€ºÃ¥ÂºÂ§Ã£â€šÂ¹Ã£Æ’â€ Ã£Æ’Â¼Ã£â€šÂ¿Ã£â€šÂ¹
        approvalRequestedAt:
          type: string
          format: date-time
          nullable: true
        approvedAt:
          type: string
          format: date-time
          nullable: true
        approvedByUserId:
          type: string
          nullable: true
      additionalProperties: false
      required:
      - visibility
      - updatedAt
      - createdByUserId
      - createdAt
      - title
      - isFrozen
      - ownerUserId
      - catalogVisibility
      - id
      - status
    CourseCreateRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        ownerUserId:
          type: string
        catalogVisibility:
          type: string
          enum: *id002
        visibility:
          type: string
          enum: *id003
        isFrozen:
          type: boolean
        frozenAt:
          type: string
          format: date-time
        frozenByUserId:
          type: string
        freezeReason:
          type: string
      additionalProperties: false
      required:
      - ownerUserId
      - title
    CourseUpdateRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        ownerUserId:
          type: string
        catalogVisibility:
          type: string
          enum: *id002
        visibility:
          type: string
          enum: *id003
        isFrozen:
          type: boolean
        frozenAt:
          type: string
          format: date-time
        frozenByUserId:
          type: string
        freezeReason:
          type: string
      additionalProperties: false
    CourseMember:
      type: object
      properties:
        id:
          type: string
        courseId:
          type: string
        userId:
          type: string
        role:
          type: string
          enum: &id004
          - instructor_owner
          - learner
          - instructor
          - assistant
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - courseId
      - createdAt
      - id
      - role
      - updatedAt
      - userId
    CourseMemberCreateRequest:
      type: object
      properties:
        courseId:
          type: string
        userId:
          type: string
        role:
          type: string
          enum: *id004
      additionalProperties: false
      required:
      - courseId
      - role
      - userId
    CourseMemberUpdateRequest:
      type: object
      properties:
        courseId:
          type: string
        userId:
          type: string
        role:
          type: string
          enum: *id004
      additionalProperties: false
    Lesson:
      type: object
      properties:
        id:
          type: string
        courseId:
          type: string
        type:
          type: string
          enum: &id005
          - text
          - video
          - live
          - assignment
        title:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - courseId
      - createdAt
      - id
      - title
      - type
      - updatedAt
    LessonCreateRequest:
      type: object
      properties:
        courseId:
          type: string
        type:
          type: string
          enum: *id005
        title:
          type: string
      additionalProperties: false
      required:
      - courseId
      - title
      - type
    LessonUpdateRequest:
      type: object
      properties:
        courseId:
          type: string
        type:
          type: string
          enum: *id005
        title:
          type: string
      additionalProperties: false
    Assignment:
      type: object
      properties:
        id:
          type: string
        courseId:
          type: string
        title:
          type: string
        description:
          type: string
          nullable: true
        dueAt:
          type: string
          format: date-time
          nullable: true
        allowResubmission:
          type: boolean
        isPublished:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - allowResubmission
      - courseId
      - createdAt
      - id
      - isPublished
      - title
      - updatedAt
    AssignmentCreateRequest:
      type: object
      properties:
        courseId:
          type: string
        title:
          type: string
        description:
          type: string
        dueAt:
          type: string
          format: date-time
        allowResubmission:
          type: boolean
        isPublished:
          type: boolean
      additionalProperties: false
      required:
      - courseId
      - title
    AssignmentUpdateRequest:
      type: object
      properties:
        courseId:
          type: string
        title:
          type: string
        description:
          type: string
        dueAt:
          type: string
          format: date-time
        allowResubmission:
          type: boolean
        isPublished:
          type: boolean
      additionalProperties: false
    CourseChannel:
      type: object
      properties:
        id:
          type: string
        courseId:
          type: string
        type:
          type: string
          enum: &id006
          - assignment
          - one_on_one
          - announcement
          - general
        postingMode:
          type: string
          enum: &id007
          - mixed
          - threads_only
        visibility:
          type: string
          enum: *id003
        isFrozen:
          type: boolean
        frozenAt:
          type: string
          format: date-time
          nullable: true
        frozenByUserId:
          type: string
          nullable: true
        freezeReason:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        isManual:
          type: boolean
        systemKey:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - courseId
      - createdAt
      - id
      - isFrozen
      - isManual
      - postingMode
      - type
      - updatedAt
      - visibility
    CourseChannelCreateRequest:
      type: object
      properties:
        courseId:
          type: string
        type:
          type: string
          enum: *id006
        postingMode:
          type: string
          enum: *id007
        visibility:
          type: string
          enum: *id003
        isFrozen:
          type: boolean
        frozenAt:
          type: string
          format: date-time
        frozenByUserId:
          type: string
        freezeReason:
          type: string
        name:
          type: string
        isManual:
          type: boolean
        systemKey:
          type: string
      additionalProperties: false
      required:
      - courseId
      - type
    CourseChannelUpdateRequest:
      type: object
      properties:
        courseId:
          type: string
        type:
          type: string
          enum: *id006
        postingMode:
          type: string
          enum: *id007
        visibility:
          type: string
          enum: *id003
        isFrozen:
          type: boolean
        frozenAt:
          type: string
          format: date-time
        frozenByUserId:
          type: string
        freezeReason:
          type: string
        name:
          type: string
        isManual:
          type: boolean
        systemKey:
          type: string
      additionalProperties: false
    CourseChannelMember:
      type: object
      properties:
        id:
          type: string
        channelId:
          type: string
        courseMemberId:
          type: string
        status:
          type: string
          enum: &id008
          - invited
          - joined
          - declined
        invitedAt:
          type: string
          format: date-time
          nullable: true
        joinedAt:
          type: string
          format: date-time
          nullable: true
        declinedAt:
          type: string
          format: date-time
          nullable: true
        lastReadMessageId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - channelId
      - courseMemberId
      - createdAt
      - id
      - status
      - updatedAt
    CourseChannelMemberCreateRequest:
      type: object
      properties:
        channelId:
          type: string
        courseMemberId:
          type: string
        status:
          type: string
          enum: *id008
        invitedAt:
          type: string
          format: date-time
        joinedAt:
          type: string
          format: date-time
        declinedAt:
          type: string
          format: date-time
        lastReadMessageId:
          type: string
      additionalProperties: false
      required:
      - channelId
      - courseMemberId
    CourseChannelMemberUpdateRequest:
      type: object
      properties:
        channelId:
          type: string
        courseMemberId:
          type: string
        status:
          type: string
          enum: *id008
        invitedAt:
          type: string
          format: date-time
        joinedAt:
          type: string
          format: date-time
        declinedAt:
          type: string
          format: date-time
        lastReadMessageId:
          type: string
      additionalProperties: false
    CourseThread:
      type: object
      properties:
        id:
          type: string
        channelId:
          type: string
        type:
          type: string
          enum: &id009
          - submission
          - message_thread
        rootMessageId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - channelId
      - createdAt
      - id
      - type
      - updatedAt
    CourseThreadCreateRequest:
      type: object
      properties:
        channelId:
          type: string
        type:
          type: string
          enum: *id009
        rootMessageId:
          type: string
      additionalProperties: false
      required:
      - channelId
      - type
    CourseThreadUpdateRequest:
      type: object
      properties:
        channelId:
          type: string
        type:
          type: string
          enum: *id009
        rootMessageId:
          type: string
      additionalProperties: false
    CourseThreadReadState:
      type: object
      properties:
        id:
          type: string
        threadId:
          type: string
        courseMemberId:
          type: string
        lastReadMessageId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - courseMemberId
      - createdAt
      - id
      - threadId
      - updatedAt
    CourseThreadReadStateCreateRequest:
      type: object
      properties:
        threadId:
          type: string
        courseMemberId:
          type: string
        lastReadMessageId:
          type: string
      additionalProperties: false
      required:
      - courseMemberId
      - threadId
    CourseThreadReadStateUpdateRequest:
      type: object
      properties:
        threadId:
          type: string
        courseMemberId:
          type: string
        lastReadMessageId:
          type: string
      additionalProperties: false
    CourseMessage:
      type: object
      properties:
        id:
          type: string
        channelId:
          type: string
        threadId:
          type: string
          nullable: true
        authorCourseMemberId:
          type: string
          nullable: true
        text:
          type: string
        isEmergency:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - channelId
      - createdAt
      - id
      - isEmergency
      - text
      - updatedAt
    CourseMessageCreateRequest:
      type: object
      properties:
        channelId:
          type: string
        threadId:
          type: string
        authorCourseMemberId:
          type: string
        text:
          type: string
        isEmergency:
          type: boolean
      additionalProperties: false
      required:
      - channelId
      - text
    CourseMessageUpdateRequest:
      type: object
      properties:
        channelId:
          type: string
        threadId:
          type: string
        authorCourseMemberId:
          type: string
        text:
          type: string
        isEmergency:
          type: boolean
      additionalProperties: false
    CourseMessageAttachment:
      type: object
      properties:
        id:
          type: string
        courseMessageId:
          type: string
        type:
          type: string
        storageKey:
          type: string
        fileName:
          type: string
        mimeType:
          type: string
        size:
          type: integer
          format: int32
        createdAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - courseMessageId
      - createdAt
      - fileName
      - id
      - mimeType
      - size
      - storageKey
      - type
    CourseMessageAttachmentCreateRequest:
      type: object
      properties:
        courseMessageId:
          type: string
        type:
          type: string
        storageKey:
          type: string
        fileName:
          type: string
        mimeType:
          type: string
        size:
          type: integer
          format: int32
      additionalProperties: false
      required:
      - courseMessageId
      - fileName
      - mimeType
      - size
      - storageKey
      - type
    CourseMessageAttachmentUpdateRequest:
      type: object
      properties:
        courseMessageId:
          type: string
        type:
          type: string
        storageKey:
          type: string
        fileName:
          type: string
        mimeType:
          type: string
        size:
          type: integer
          format: int32
      additionalProperties: false
    CourseNotificationPreference:
      type: object
      properties:
        id:
          type: string
        courseMemberId:
          type: string
        announcementNormalEnabled:
          type: boolean
        submissionEnabled:
          type: boolean
        submissionCommentEnabled:
          type: boolean
        threadReplyEnabled:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - announcementNormalEnabled
      - courseMemberId
      - createdAt
      - id
      - submissionCommentEnabled
      - submissionEnabled
      - threadReplyEnabled
      - updatedAt
    CourseNotificationPreferenceCreateRequest:
      type: object
      properties:
        courseMemberId:
          type: string
        announcementNormalEnabled:
          type: boolean
        submissionEnabled:
          type: boolean
        submissionCommentEnabled:
          type: boolean
        threadReplyEnabled:
          type: boolean
      additionalProperties: false
      required:
      - courseMemberId
    CourseNotificationPreferenceUpdateRequest:
      type: object
      properties:
        courseMemberId:
          type: string
        announcementNormalEnabled:
          type: boolean
        submissionEnabled:
          type: boolean
        submissionCommentEnabled:
          type: boolean
        threadReplyEnabled:
          type: boolean
      additionalProperties: false
    CourseChannelNotificationPreference:
      type: object
      properties:
        id:
          type: string
        courseMemberId:
          type: string
        channelId:
          type: string
        muted:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - channelId
      - courseMemberId
      - createdAt
      - id
      - muted
      - updatedAt
    CourseChannelNotificationPreferenceCreateRequest:
      type: object
      properties:
        courseMemberId:
          type: string
        channelId:
          type: string
        muted:
          type: boolean
      additionalProperties: false
      required:
      - channelId
      - courseMemberId
    CourseChannelNotificationPreferenceUpdateRequest:
      type: object
      properties:
        courseMemberId:
          type: string
        channelId:
          type: string
        muted:
          type: boolean
      additionalProperties: false
    CourseEnrollment:
      type: object
      properties:
        id:
          type: string
        courseId:
          type: string
        userId:
          type: string
        status:
          type: string
          enum: &id010
          - applied
          - active
          - revoked
        grantedAt:
          type: string
          format: date-time
          nullable: true
        revokedAt:
          type: string
          format: date-time
          nullable: true
        paidAt:
          type: string
          format: date-time
          nullable: true
        source:
          type: string
          enum: &id011
          - stripe
          - manual
        paymentId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - courseId
      - createdAt
      - id
      - source
      - status
      - updatedAt
      - userId
    CourseEnrollmentCreateRequest:
      type: object
      properties:
        courseId:
          type: string
        userId:
          type: string
        status:
          type: string
          enum: *id010
        grantedAt:
          type: string
          format: date-time
        revokedAt:
          type: string
          format: date-time
        paidAt:
          type: string
          format: date-time
        source:
          type: string
          enum: *id011
        paymentId:
          type: string
      additionalProperties: false
      required:
      - courseId
      - userId
    CourseEnrollmentUpdateRequest:
      type: object
      properties:
        courseId:
          type: string
        userId:
          type: string
        status:
          type: string
          enum: *id010
        grantedAt:
          type: string
          format: date-time
        revokedAt:
          type: string
          format: date-time
        paidAt:
          type: string
          format: date-time
        source:
          type: string
          enum: *id011
        paymentId:
          type: string
      additionalProperties: false
    Payment:
      type: object
      properties:
        id:
          type: string
        provider:
          type: string
          enum: *id011
        providerRef:
          type: string
          nullable: true
        userId:
          type: string
        courseId:
          type: string
          nullable: true
        amount:
          type: integer
          format: int32
        currency:
          type: string
        status:
          type: string
          enum: &id012
          - pending
          - succeeded
          - failed
          - canceled
          - refunded
        paidAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - amount
      - createdAt
      - currency
      - id
      - provider
      - status
      - updatedAt
      - userId
    PaymentCreateRequest:
      type: object
      properties:
        provider:
          type: string
          enum: *id011
        providerRef:
          type: string
        userId:
          type: string
        courseId:
          type: string
        amount:
          type: integer
          format: int32
        currency:
          type: string
        status:
          type: string
          enum: *id012
        paidAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - amount
      - userId
    PaymentUpdateRequest:
      type: object
      properties:
        provider:
          type: string
          enum: *id011
        providerRef:
          type: string
        userId:
          type: string
        courseId:
          type: string
        amount:
          type: integer
          format: int32
        currency:
          type: string
        status:
          type: string
          enum: *id012
        paidAt:
          type: string
          format: date-time
      additionalProperties: false
    Refund:
      type: object
      properties:
        id:
          type: string
        paymentId:
          type: string
        providerRef:
          type: string
          nullable: true
        amount:
          type: integer
          format: int32
        status:
          type: string
          enum: &id013
          - pending
          - succeeded
          - failed
          - canceled
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - amount
      - createdAt
      - id
      - paymentId
      - status
      - updatedAt
    RefundCreateRequest:
      type: object
      properties:
        paymentId:
          type: string
        providerRef:
          type: string
        amount:
          type: integer
          format: int32
        status:
          type: string
          enum: *id013
      additionalProperties: false
      required:
      - amount
      - paymentId
    RefundUpdateRequest:
      type: object
      properties:
        paymentId:
          type: string
        providerRef:
          type: string
        amount:
          type: integer
          format: int32
        status:
          type: string
          enum: *id013
      additionalProperties: false
    Coupon:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
        discountType:
          type: string
          enum: &id014
          - amount_fixed
          - amount_percent
        discountValue:
          type: integer
          format: int32
        currency:
          type: string
          nullable: true
        expiresAt:
          type: string
          format: date-time
          nullable: true
        usageLimit:
          type: integer
          format: int32
          nullable: true
        usedCount:
          type: integer
          format: int32
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - code
      - createdAt
      - discountType
      - discountValue
      - id
      - isActive
      - updatedAt
      - usedCount
    CouponCreateRequest:
      type: object
      properties:
        code:
          type: string
        discountType:
          type: string
          enum: *id014
        discountValue:
          type: integer
          format: int32
        currency:
          type: string
        expiresAt:
          type: string
          format: date-time
        usageLimit:
          type: integer
          format: int32
        usedCount:
          type: integer
          format: int32
        isActive:
          type: boolean
      additionalProperties: false
      required:
      - code
      - discountType
      - discountValue
    CouponUpdateRequest:
      type: object
      properties:
        code:
          type: string
        discountType:
          type: string
          enum: *id014
        discountValue:
          type: integer
          format: int32
        currency:
          type: string
        expiresAt:
          type: string
          format: date-time
        usageLimit:
          type: integer
          format: int32
        usedCount:
          type: integer
          format: int32
        isActive:
          type: boolean
      additionalProperties: false
    CouponRedemption:
      type: object
      properties:
        id:
          type: string
        couponId:
          type: string
        userId:
          type: string
        courseId:
          type: string
          nullable: true
        paymentId:
          type: string
          nullable: true
        redeemedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - couponId
      - createdAt
      - id
      - redeemedAt
      - updatedAt
      - userId
    CouponRedemptionCreateRequest:
      type: object
      properties:
        couponId:
          type: string
        userId:
          type: string
        courseId:
          type: string
        paymentId:
          type: string
        redeemedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - couponId
      - userId
    CouponRedemptionUpdateRequest:
      type: object
      properties:
        couponId:
          type: string
        userId:
          type: string
        courseId:
          type: string
        paymentId:
          type: string
        redeemedAt:
          type: string
          format: date-time
      additionalProperties: false
    AuditEvent:
      type: object
      properties:
        id:
          type: string
        occurredAt:
          type: string
          format: date-time
        actorUserId:
          type: string
        actorGlobalRole:
          type: string
          enum: &id015
          - guest
          - learner
          - instructor
          - assistant
          - operator
          - root_operator
        eventType:
          $ref: '#/components/schemas/AuditEventType'
          enum: &id016
          - announcement_emergency_posted
          - course_frozen
          - course_unfrozen
          - channel_frozen
          - channel_unfrozen
          - dm_viewed_by_root_operator
          - course_created
          - course_approval_requested
          - course_approved
          - course_published
          - course_member_role_promoted
          - user_frozen
          - user_unfrozen
          type: string
        courseId:
          type: string
          nullable: true
        channelId:
          type: string
          nullable: true
        messageId:
          type: string
          nullable: true
        reason:
          type: string
        metaJson:
          type: object
          nullable: true
        requestId:
          type: string
          nullable: true
        ipHash:
          type: string
          nullable: true
        userAgentHash:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - actorGlobalRole
      - actorUserId
      - createdAt
      - eventType
      - id
      - occurredAt
      - reason
      - updatedAt
    AuditEventCreateRequest:
      type: object
      properties:
        occurredAt:
          type: string
          format: date-time
        actorUserId:
          type: string
        actorGlobalRole:
          type: string
          enum: *id015
        eventType:
          type: string
          enum: *id016
        courseId:
          type: string
        channelId:
          type: string
        messageId:
          type: string
        reason:
          type: string
        metaJson:
          type: object
        requestId:
          type: string
        ipHash:
          type: string
        userAgentHash:
          type: string
      additionalProperties: false
      required:
      - actorGlobalRole
      - actorUserId
      - eventType
      - reason
    AuditEventUpdateRequest:
      type: object
      properties:
        occurredAt:
          type: string
          format: date-time
        actorUserId:
          type: string
        actorGlobalRole:
          type: string
          enum: *id015
        eventType:
          type: string
          enum: *id016
        courseId:
          type: string
        channelId:
          type: string
        messageId:
          type: string
        reason:
          type: string
        metaJson:
          type: object
        requestId:
          type: string
        ipHash:
          type: string
        userAgentHash:
          type: string
      additionalProperties: false
    Order:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        courseId:
          type: string
        amount:
          type: integer
          format: int32
        currency:
          type: string
        status:
          $ref: '#/components/schemas/OrderStatus'
          enum: &id017
          - pending
          - paid
          - cancelled
          - failed
          - refunded
        paymentProvider:
          type: string
        paymentIntentId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - amount
      - courseId
      - createdAt
      - currency
      - id
      - paymentProvider
      - status
      - userId
    OrderCreateRequest:
      type: object
      properties:
        userId:
          type: string
        courseId:
          type: string
        amount:
          type: integer
          format: int32
        currency:
          type: string
        status:
          type: string
          enum: *id017
        paymentProvider:
          type: string
        paymentIntentId:
          type: string
      additionalProperties: false
      required:
      - amount
      - courseId
      - currency
      - paymentProvider
      - status
      - userId
    OrderUpdateRequest:
      type: object
      properties:
        userId:
          type: string
        courseId:
          type: string
        amount:
          type: integer
          format: int32
        currency:
          type: string
        status:
          type: string
          enum: *id017
        paymentProvider:
          type: string
        paymentIntentId:
          type: string
      additionalProperties: false
    OAuthIdentity:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        provider:
          type: string
        providerUserId:
          type: string
        email:
          type: string
          nullable: true
        lastLoginAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - createdAt
      - id
      - provider
      - providerUserId
      - userId
    OAuthIdentityCreateRequest:
      type: object
      properties:
        userId:
          type: string
        provider:
          type: string
        providerUserId:
          type: string
        email:
          type: string
        lastLoginAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - provider
      - providerUserId
      - userId
    OAuthIdentityUpdateRequest:
      type: object
      properties:
        userId:
          type: string
        provider:
          type: string
        providerUserId:
          type: string
        email:
          type: string
        lastLoginAt:
          type: string
          format: date-time
      additionalProperties: false
    PasswordCredential:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        passwordHash:
          type: string
        algorithm:
          type: string
        passwordUpdatedAt:
          type: string
          format: date-time
        isDisabled:
          type: boolean
        failedCount:
          type: integer
          format: int32
        lastFailedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - algorithm
      - createdAt
      - failedCount
      - id
      - isDisabled
      - passwordHash
      - passwordUpdatedAt
      - updatedAt
      - userId
    PasswordCredentialCreateRequest:
      type: object
      properties:
        userId:
          type: string
        passwordHash:
          type: string
        algorithm:
          type: string
        passwordUpdatedAt:
          type: string
          format: date-time
        isDisabled:
          type: boolean
        failedCount:
          type: integer
          format: int32
        lastFailedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - algorithm
      - passwordHash
      - passwordUpdatedAt
      - userId
    PasswordCredentialUpdateRequest:
      type: object
      properties:
        userId:
          type: string
        passwordHash:
          type: string
        algorithm:
          type: string
        passwordUpdatedAt:
          type: string
          format: date-time
        isDisabled:
          type: boolean
        failedCount:
          type: integer
          format: int32
        lastFailedAt:
          type: string
          format: date-time
      additionalProperties: false
    FileObject:
      type: object
      properties:
        id:
          type: string
        storageKey:
          type: string
        bucket:
          type: string
        fileName:
          type: string
        mimeType:
          type: string
        size:
          type: integer
          format: int32
        checksum:
          type: string
          nullable: true
        isScanned:
          type: boolean
        isMalicious:
          type: boolean
        createdByUserId:
          type: string
          nullable: true
        deletedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - bucket
      - createdAt
      - fileName
      - id
      - isMalicious
      - isScanned
      - mimeType
      - size
      - storageKey
    FileObjectCreateRequest:
      type: object
      properties:
        storageKey:
          type: string
        bucket:
          type: string
        fileName:
          type: string
        mimeType:
          type: string
        size:
          type: integer
          format: int32
        checksum:
          type: string
        isScanned:
          type: boolean
        isMalicious:
          type: boolean
        createdByUserId:
          type: string
        deletedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - bucket
      - fileName
      - mimeType
      - size
      - storageKey
    FileObjectUpdateRequest:
      type: object
      properties:
        storageKey:
          type: string
        bucket:
          type: string
        fileName:
          type: string
        mimeType:
          type: string
        size:
          type: integer
          format: int32
        checksum:
          type: string
        isScanned:
          type: boolean
        isMalicious:
          type: boolean
        createdByUserId:
          type: string
        deletedAt:
          type: string
          format: date-time
      additionalProperties: false
    Submission:
      type: object
      properties:
        id:
          type: string
        assignmentId:
          type: string
        courseId:
          type: string
        userId:
          type: string
        threadId:
          type: string
        submittedAt:
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/SubmissionStatus'
          enum: &id018
          - draft
          - submitted
          - returned
          - graded
        gradedAt:
          type: string
          format: date-time
          nullable: true
      additionalProperties: false
      required:
      - assignmentId
      - courseId
      - id
      - status
      - submittedAt
      - threadId
      - userId
    SubmissionCreateRequest:
      type: object
      properties:
        assignmentId:
          type: string
        courseId:
          type: string
        userId:
          type: string
        threadId:
          type: string
        submittedAt:
          type: string
          format: date-time
        status:
          type: string
          enum: *id018
        gradedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - assignmentId
      - courseId
      - status
      - threadId
      - userId
    SubmissionUpdateRequest:
      type: object
      properties:
        assignmentId:
          type: string
        courseId:
          type: string
        userId:
          type: string
        threadId:
          type: string
        submittedAt:
          type: string
          format: date-time
        status:
          type: string
          enum: *id018
        gradedAt:
          type: string
          format: date-time
      additionalProperties: false
    UserProfile:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        displayName:
          type: string
        avatarFileObjectId:
          type: string
          nullable: true
        bio:
          type: string
          nullable: true
        isPublic:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - createdAt
      - displayName
      - id
      - isPublic
      - updatedAt
      - userId
    UserProfileCreateRequest:
      type: object
      properties:
        userId:
          type: string
        displayName:
          type: string
        avatarFileObjectId:
          type: string
        bio:
          type: string
        isPublic:
          type: boolean
      additionalProperties: false
      required:
      - displayName
      - userId
    UserProfileUpdateRequest:
      type: object
      properties:
        userId:
          type: string
        displayName:
          type: string
        avatarFileObjectId:
          type: string
        bio:
          type: string
        isPublic:
          type: boolean
      additionalProperties: false
    GradingComment:
      type: object
      properties:
        id:
          type: string
        courseId:
          type: string
        threadId:
          type: string
        authorUserId:
          type: string
        targetUserId:
          type: string
        body:
          type: string
        score:
          type: integer
          format: int32
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - authorUserId
      - body
      - courseId
      - createdAt
      - id
      - targetUserId
      - threadId
      - updatedAt
    GradingCommentCreateRequest:
      type: object
      properties:
        courseId:
          type: string
        threadId:
          type: string
        authorUserId:
          type: string
        targetUserId:
          type: string
        body:
          type: string
        score:
          type: integer
          format: int32
      additionalProperties: false
      required:
      - authorUserId
      - body
      - courseId
      - targetUserId
      - threadId
    GradingCommentUpdateRequest:
      type: object
      properties:
        courseId:
          type: string
        threadId:
          type: string
        authorUserId:
          type: string
        targetUserId:
          type: string
        body:
          type: string
        score:
          type: integer
          format: int32
      additionalProperties: false
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
      required:
      - success
      additionalProperties: false
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
      required:
      - message
      additionalProperties: false
    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
      required:
      - email
      - password
      additionalProperties: false
    LoginResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
      required:
      - accessToken
      - refreshToken
      additionalProperties: false
    RegisterRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
        name:
          type: string
      required:
      - email
      - password
      - name
      additionalProperties: false
    RegisterResponse:
      $ref: '#/components/schemas/User'
    RefreshResponse:
      type: object
      properties:
        accessToken:
          type: string
      required:
      - accessToken
      additionalProperties: false
    CheckoutRequest:
      type: object
      properties:
        courseId:
          type: string
        couponCode:
          type: string
      required:
      - courseId
      additionalProperties: false
    CheckoutResponse:
      type: object
      properties:
        sessionId:
          type: string
        url:
          type: string
          format: uri
      required:
      - sessionId
      - url
      additionalProperties: false
    Notification:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        title:
          type: string
        body:
          type: string
        isRead:
          type: boolean
        createdAt:
          type: string
          format: date-time
      required:
      - id
      - type
      - title
      - isRead
      - createdAt
      additionalProperties: false
    NotificationListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Notification'
      required:
      - items
      additionalProperties: false
    CourseSideMenuResponse:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
      required:
      - items
      additionalProperties: false
    CursorPageInfo:
      type: object
      properties:
        nextCursor:
          type: string
          nullable: true
        hasMore:
          type: boolean
      required:
      - hasMore
      additionalProperties: false
    OffsetPageInfo:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
        pageSize:
          type: integer
          minimum: 1
        total:
          type: integer
          minimum: 0
          nullable: true
      required:
      - page
      - pageSize
      additionalProperties: false
    ListMeta:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/OffsetPageInfo'
        cursor:
          $ref: '#/components/schemas/CursorPageInfo'
      additionalProperties: false
    UserPublicView:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
        avatarUrl:
          type: string
          nullable: true
      required:
      - id
      - displayName
      additionalProperties: false
    FileObjectView:
      type: object
      properties:
        file:
          $ref: '#/components/schemas/FileObject'
        url:
          type: string
        mimeType:
          type: string
          nullable: true
        size:
          type: integer
          minimum: 0
          nullable: true
      required:
      - file
      - url
      additionalProperties: false
    MessageReactionView:
      type: object
      properties:
        emoji:
          type: string
        count:
          type: integer
          minimum: 0
        reactedByMe:
          type: boolean
      required:
      - emoji
      - count
      - reactedByMe
      additionalProperties: false
    CourseMessageView:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/CourseMessage'
        sender:
          $ref: '#/components/schemas/UserPublicView'
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/FileObjectView'
        reactions:
          type: array
          items:
            $ref: '#/components/schemas/MessageReactionView'
      required:
      - message
      - sender
      - attachments
      - reactions
      additionalProperties: false
    CourseChannelSummaryView:
      type: object
      properties:
        channel:
          $ref: '#/components/schemas/CourseChannel'
        lastMessageAt:
          type: string
          format: date-time
          nullable: true
        unreadCount:
          type: integer
          minimum: 0
      required:
      - channel
      - unreadCount
      additionalProperties: false
    CourseStatsView:
      type: object
      properties:
        learnerCount:
          type: integer
          minimum: 0
        assignmentCount:
          type: integer
          minimum: 0
        lessonCount:
          type: integer
          minimum: 0
        activeChannelCount:
          type: integer
          minimum: 0
      required:
      - learnerCount
      - assignmentCount
      - lessonCount
      - activeChannelCount
      additionalProperties: false
    CourseSummaryView:
      type: object
      properties:
        course:
          $ref: '#/components/schemas/Course'
        channelCount:
          type: integer
          minimum: 0
        memberCount:
          type: integer
          minimum: 0
        isFrozen:
          type: boolean
      required:
      - course
      - channelCount
      - memberCount
      - isFrozen
      additionalProperties: false
    CourseDetailView:
      type: object
      properties:
        course:
          $ref: '#/components/schemas/Course'
        channels:
          type: array
          items:
            $ref: '#/components/schemas/CourseChannelSummaryView'
        stats:
          $ref: '#/components/schemas/CourseStatsView'
      required:
      - course
      - channels
      - stats
      additionalProperties: false
    ThreadSummaryView:
      type: object
      properties:
        threadId:
          type: string
        rootMessage:
          $ref: '#/components/schemas/CourseMessageView'
        replyCount:
          type: integer
          minimum: 0
        lastReplyAt:
          type: string
          format: date-time
          nullable: true
      required:
      - threadId
      - rootMessage
      - replyCount
      additionalProperties: false
    AssignmentSummaryView:
      type: object
      properties:
        assignment:
          $ref: '#/components/schemas/Assignment'
        dueAt:
          type: string
          format: date-time
          nullable: true
        status:
          type: string
      required:
      - assignment
      - status
      additionalProperties: false
    AssignmentDetailView:
      type: object
      properties:
        assignment:
          $ref: '#/components/schemas/Assignment'
        mySubmission:
          $ref: '#/components/schemas/Submission'
        rubric:
          type: object
          additionalProperties: true
          nullable: true
      required:
      - assignment
      additionalProperties: false
    SubmissionView:
      type: object
      properties:
        submission:
          $ref: '#/components/schemas/Submission'
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/FileObjectView'
      required:
      - submission
      - attachments
      additionalProperties: false
    PaymentSummaryView:
      type: object
      properties:
        payment:
          $ref: '#/components/schemas/Payment'
        course:
          $ref: '#/components/schemas/Course'
        buyer:
          $ref: '#/components/schemas/UserPublicView'
      required:
      - payment
      - course
      - buyer
      additionalProperties: false
    CourseListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CourseSummaryView'
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
      additionalProperties: false
    CourseChannelListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CourseChannelSummaryView'
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
      additionalProperties: false
    ThreadListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ThreadSummaryView'
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
      additionalProperties: false
    MessageListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CourseMessageView'
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
      additionalProperties: false
    AssignmentListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AssignmentSummaryView'
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
      additionalProperties: false
    PaymentListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PaymentSummaryView'
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
      additionalProperties: false
    UserAdminView:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        status:
          type: string
        lastLoginAt:
          type: string
          format: date-time
          nullable: true
      required:
      - user
      - status
      additionalProperties: false
    UserListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/UserAdminView'
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
      additionalProperties: false
    GenericWriteRequest:
      type: object
      additionalProperties: true
    GenericDetailView:
      type: object
      additionalProperties: true
    GenericListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
    OperatorAdminView:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        role:
          $ref: '#/components/schemas/PlatformRole'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        user:
          type: object
          nullable: true
          properties:
            name:
              type: string
              nullable: true
            email:
              type: string
              nullable: true
            isActive:
              type: boolean
          required:
          - isActive
      required:
      - id
      - userId
      - role
      - createdAt
      - updatedAt
      additionalProperties: false
    OperatorListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/OperatorAdminView'
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
    UserMeView:
      type: object
      allOf:
      - $ref: '#/components/schemas/User'
    CourseChannelDetailView:
      type: object
      allOf:
      - $ref: '#/components/schemas/CourseChannel'
    AdminCourseCreateRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        ownerUserId:
          type: string
          description: Ã£Ââ€œÃ£ÂÂ®Ã£â€šÂ³Ã£Æ’Â¼Ã£â€šÂ¹Ã£ÂÂ®Ã£â€šÂªÃ£Æ’Â¼Ã£Æ’Å Ã£Æ’Â¼Ã¨Â¬â€ºÃ¥Â¸Â«Ã¯Â¼Ë†Ã¥Â¿â€¦Ã©Â Ë†Ã¯Â¼â€°Ã£â‚¬â€šÃ¥Ë†ÂÃ¦Å“Å¸CourseMemberÃ£Æ’Â­Ã£Æ’Â¼Ã£Æ’Â«Ã£ÂÂ¯instructorÃ£ÂÂ¨Ã£Ââ€”Ã£ÂÂ¦Ã¤Â»ËœÃ¤Â¸Å½Ã£â‚¬â€šÃ¥â€¦Â¬Ã©â€“â€¹Ã¯Â¼Ë†publishÃ¯Â¼â€°Ã¦â„¢â€šÃ£ÂÂ«instructor_ownerÃ£ÂÂ¸Ã¦Ëœâ€¡Ã¦Â Â¼Ã£Ââ„¢Ã£â€šâ€¹Ã£â‚¬â€š
        catalogVisibility:
          type: string
          enum:
          - public_listed
          - public_unlisted
          - private
        visibility:
          type: string
          enum:
          - public
          - instructors_only
      additionalProperties: false
      required:
      - title
      - ownerUserId
    GlobalRole:
      type: string
      enum:
      - guest
      - learner
      - instructor
      - assistant
      - operator
      - root_operator
    PlatformRole:
      type: string
      enum:
      - operator
      - root_operator
    OrderStatus:
      type: string
      enum:
      - pending
      - paid
      - cancelled
      - failed
      - refunded
    SubmissionStatus:
      type: string
      enum:
      - draft
      - submitted
      - returned
      - graded
    AuditEventType:
      type: string
      enum:
      - announcement_emergency_posted
      - course_frozen
      - course_unfrozen
      - channel_frozen
      - channel_unfrozen
      - dm_viewed_by_root_operator
      - course_created
      - course_approval_requested
      - course_approved
      - course_published
      - course_member_role_promoted
      - user_frozen
      - user_unfrozen
