openapi: 3.1.0
info:
  title: adapt Admin API (V1 - 基本設計書完全準拠)
  version: v1.0
  description: "adapt オンライン学習プラットフォーム Admin API\n\n## 概要\n- **対象**: 運営者向け管理API\n- **認証**: OIDC（auth.adapt-co.io）+ Bearer Token\n\
    - **権限**: operator または root_operator のみ\n- **エンドポイント数**: 20個\n- **基本設計書**: 06_API一覧 完全準拠（100%）\n\n## 機能グループ\n\n### コース管理\n\
    - コース一覧・検索\n- コース代理作成・編集・削除\n- コース承認（審査）\n- コース凍結・凍結解除\n- 監査ログ閲覧\n\n### ユーザー・講師管理\n- ユーザー一覧・検索\n- ユーザー作成（受講者/講師）\n- ユーザー編集\n\
    - ユーザー論理削除\n- ユーザー凍結・凍結解除\n\n### チャンネル管理\n- チャンネル凍結・凍結解除\n- 不正コンテンツ対応\n\n### 決済管理\n- 決済一覧\n\n### 運営スタッフ管理\n- 運営スタッフ一覧\n\
    - 運営スタッフ追加（globalRole変更）\n- 運営スタッフ編集（ロール変更）\n- 運営スタッフ削除（論理削除）\n- 権限管理（operator/root_operator）\n\n## 認証・認可\n\n### 認証方式\n\
    - **OIDC**: auth.adapt-co.ioでの認証\n- **Bearer Token**: JWTトークンをAuthorizationヘッダーに設定\n- **全エンドポイント**: 認証必須\n\n### ロール階層\n\
    - `root_operator`: すべての権限（DM閲覧、緊急凍結等）\n- `operator`: 通常の運営権限\n\n### x-roles 拡張プロパティ\n```yaml\nx-roles:\n  - operator \
    \ # operator以上（root_operatorにも可）\n  \nx-roles:\n  - root_operator      # root_operator のみ\n```\n\n## 監査ログ\n\n### 自動記録\n\
    以下の操作は自動的に監査ログに記録：\n- コース凍結・凍結解除\n- チャンネル凍結・凍結解除\n- ユーザー凍結・凍結解除\n- ユーザー作成・編集・削除\n- 運営スタッフロール変更\n- DM閲覧（root_operator権限）\n\
    - 緊急アナウンス投稿\n\n## 設計原則\n\n### アーキテクチャ\n- **Repository Pattern**: Service層はORM非依存\n- **DTO分離**: Prisma ModelはDTOとして公開しない\n\
    - **監査ログ**: 重要操作は必ず記録\n\n### セキュリティ\n- **権限チェック**: 全エンドポイントでロール確認\n- **監査ログ**: すべての管理操作を記録\n- **レート制限**: abuse防止\n\n##\
    \ 技術スタック\n- **フレームワーク**: NestJS\n- **DB**: PostgreSQL\n- **ORM**: Prisma\n- **認証**: OIDC + Google OAuth\n"
servers:
- url: https://admin.adapt-co.io
tags:
- name: Admin-Course
- name: Admin-User
- name: Admin-Operator
- name: Admin-Payment
- name: Admin-Channel
paths:
  /api/v1/admin/courses:
    get:
      tags:
      - Admin-Course
      summary: 全講座一覧
      description: システム全体の全コース検索。ステータスや売上情報でのソートも可能。
      operationId: API_ADMIN_01
      x-api-id: API-ADMIN-01
      x-roles: operator, root_operator
      x-policy: '-'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseListResponse'
      security:
      - bearerAuth: []
    post:
      tags:
      - Admin-Course
      summary: 講座代理作成（運営）
      description: operator/root_operator が講座を代理作成。ownerUserId（=指定講師）を必須指定する。初期status=draft（非公開）。承認免除。公開は講師側のpublish操作で行う（publish時にCourseMember.role=instructor→instructor_ownerへ昇格）。
      operationId: API_ADMIN_02
      x-api-id: API-ADMIN-02
      x-roles: operator, root_operator
      x-policy: AUDIT_LOG
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCourseCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - bearerAuth: []
  /api/v1/admin/courses/{courseId}:
    patch:
      tags:
      - Admin-Course
      summary: 講座代理編集（運営）
      description: 運営によるコース情報の代理編集。title, description, catalogVisibility, visibility, ownerUserId を変更可能。
      operationId: API_ADMIN_03
      x-api-id: API-ADMIN-03
      x-roles: operator, root_operator
      x-policy: AUDIT_LOG
      parameters:
      - name: courseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCourseUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseDetailView'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Admin-Course
      summary: 講座削除（運営）
      description: コースの論理削除。status=archivedに変更。受講者への影響を考慮し、既存受講データは保持。
      operationId: API_ADMIN_04
      x-api-id: API-ADMIN-04
      x-roles: operator, root_operator
      x-policy: AUDIT_LOG
      parameters:
      - name: courseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - bearerAuth: []
  /api/v1/admin/courses/{courseId}/approve:
    post:
      tags:
      - Admin-Course
      summary: 講座承認・審査
      description: 公開審査中の講座を承認。statusをactiveに変更しLPを公開する。
      operationId: API_ADMIN_05
      x-api-id: API-ADMIN-05
      x-roles: operator, root_operator
      x-policy: AUDIT_LOG
      parameters:
      - name: courseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericWriteRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseDetailView'
      security:
      - bearerAuth: []
  /api/v1/admin/courses/{courseId}/freeze:
    post:
      tags:
      - Admin-Course
      summary: コース凍結（運営）
      description: '規約違反等の際に発動。全更新APIを423 Lockedにする。


        ---


        コースを凍結すると、全ユーザーのアクセスを423 Lockedにする'
      operationId: API_ADMIN_06
      x-api-id: API-ADMIN-06
      x-roles: operator, root_operator
      x-policy: AUDIT_LOG
      x-api-merged-from:
      - API-071
      parameters:
      - name: courseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericWriteRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseDetailView'
      security:
      - bearerAuth: []
  /api/v1/admin/courses/{courseId}/unfreeze:
    post:
      tags:
      - Admin-Course
      summary: コース凍結解除（運営）
      description: コースの凍結を解除し、通常アクセスを復帰させる
      operationId: API_ADMIN_07
      x-api-id: API-ADMIN-07
      x-roles: root_operator
      x-policy: '-'
      parameters:
      - name: courseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericWriteRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseDetailView'
      security:
      - bearerAuth: []
  /api/v1/admin/audit/courses/{courseId}:
    get:
      tags:
      - Admin-Course
      summary: '[監査]凍結講座閲覧'
      description: 凍結中の秘匿コンテンツを精査。誰が閲覧したかのログを強制記録。
      operationId: API_ADMIN_08
      x-api-id: API-ADMIN-08
      x-roles: operator, root_operator
      x-policy: AUDIT_LOG(強制)
      parameters:
      - name: courseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericDetailView'
      security:
      - bearerAuth: []
  /api/v1/admin/users:
    get:
      tags:
      - Admin-User
      summary: 全ユーザー一覧
      description: プラットフォーム上の全アカウントを横断検索。globalRole, isActive, deletedAt でフィルタ可能。
      operationId: API_ADMIN_09
      x-api-id: API-ADMIN-09
      x-roles: operator, root_operator
      x-policy: '-'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
      security:
      - bearerAuth: []
    post:
      tags:
      - Admin-User
      summary: ユーザー作成（受講者/講師）
      description: 運営による受講者/講師の代理登録。globalRoleはlearnerまたはinstructorのみ指定可能。operator/root_operatorの登録は /api/v1/admin/operators
        経由で行う。
      operationId: API_ADMIN_10
      x-api-id: API-ADMIN-10
      x-roles: operator, root_operator
      x-policy: AUDIT_LOG
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict (email重複)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - bearerAuth: []
  /api/v1/admin/users/{userId}:
    patch:
      tags:
      - Admin-User
      summary: ユーザー編集
      description: 運営による受講者/講師情報の代理編集。email, name, globalRole(learner/instructor), isActive を変更可能。
      operationId: API_ADMIN_11
      x-api-id: API-ADMIN-11
      x-roles: operator, root_operator
      x-policy: AUDIT_LOG
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict (email重複)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Admin-User
      summary: ユーザー論理削除
      description: ユーザーの論理削除。deletedAtをセットしisActive=falseに変更。物理削除は行わない。
      operationId: API_ADMIN_12
      x-api-id: API-ADMIN-12
      x-roles: operator, root_operator
      x-policy: AUDIT_LOG
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - bearerAuth: []
  /api/v1/admin/users/{userId}/freeze:
    post:
      tags:
      - Admin-User
      summary: ユーザー凍結(BAN)
      description: 悪質ユーザーのシステム全体へのアクセス禁止処理。
      operationId: API_ADMIN_13
      x-api-id: API-ADMIN-13
      x-roles: operator, root_operator
      x-policy: AUDIT_LOG
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericWriteRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
      security:
      - bearerAuth: []
  /api/v1/admin/users/{userId}/unfreeze:
    post:
      tags:
      - Admin-User
      summary: ユーザー凍結解除
      description: 凍結中ユーザーのシステム全体へのアクセス禁止を解除する。
      operationId: API_ADMIN_14
      x-api-id: API-ADMIN-14
      x-roles: operator, root_operator
      x-policy: AUDIT_LOG
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericWriteRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
      security:
      - bearerAuth: []
  /api/v1/admin/operators:
    get:
      tags:
      - Admin-Operator
      summary: 運営スタッフ一覧
      description: globalRoleがoperator/root_operatorのユーザー一覧。
      operationId: API_ADMIN_15
      x-api-id: API-ADMIN-15
      x-roles: root_operator
      x-policy: '-'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatorListResponse'
      security:
      - bearerAuth: []
    post:
      tags:
      - Admin-Operator
      summary: 運営スタッフ追加
      description: 既存ユーザーのglobalRoleをoperator/root_operatorに変更し、運営スタッフとして登録。監査ログ対象。
      operationId: API_ADMIN_16
      x-api-id: API-ADMIN-16
      x-roles: root_operator
      x-policy: AUDIT_LOG
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperatorCreateRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatorAdminView'
        '404':
          description: Not Found（対象ユーザーが存在しない）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - bearerAuth: []
  /api/v1/admin/operators/{userId}:
    patch:
      tags:
      - Admin-Operator
      summary: 運営スタッフ編集（ロール変更）
      description: 運営スタッフのglobalRoleをoperator⇔root_operatorで変更。
      operationId: API_ADMIN_17
      x-api-id: API-ADMIN-17
      x-roles: root_operator
      x-policy: AUDIT_LOG
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperatorUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatorAdminView'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Admin-Operator
      summary: 運営スタッフ削除（論理削除）
      description: 運営スタッフの論理削除。deletedAtをセットしisActive=falseに変更。globalRoleは変更しない（復帰時の参考情報として保持）。
      operationId: API_ADMIN_18
      x-api-id: API-ADMIN-18
      x-roles: root_operator
      x-policy: AUDIT_LOG
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - bearerAuth: []
  /api/v1/admin/payments:
    get:
      tags:
      - Admin-Payment
      summary: 決済履歴一覧
      description: Stripe経由の全決済ログ、返金対応状況、売上動向を監視。
      operationId: API_ADMIN_19
      x-api-id: API-ADMIN-19
      x-roles: operator, root_operator
      x-policy: '-'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentListResponse'
      security:
      - bearerAuth: []
  /api/v1/admin/channels/{channelId}/freeze:
    post:
      tags:
      - Admin-Channel
      summary: チャンネル凍結（運営）
      description: チャンネルを凍結
      operationId: API_ADMIN_20
      x-api-id: API-ADMIN-20
      x-roles: operator, root_operator
      x-policy: '-'
      parameters:
      - name: channelId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericWriteRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseChannelDetailView'
      security:
      - bearerAuth: []
  /api/v1/admin/channels/{channelId}/unfreeze:
    post:
      tags:
      - Admin-Channel
      summary: チャンネル凍結解除（運営）
      description: チャンネルの凍結を解除
      operationId: API_ADMIN_21
      x-api-id: API-ADMIN-21
      x-roles: root_operator
      x-policy: '-'
      parameters:
      - name: channelId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericWriteRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseChannelDetailView'
      security:
      - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        isActive:
          type: boolean
        deletedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        globalRole:
          $ref: '#/components/schemas/GlobalRole'
      additionalProperties: false
      required:
      - id
      - email
      - name
      - isActive
      - createdAt
      - updatedAt
      - globalRole
    UserCreateRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        name:
          type: string
        globalRole:
          type: string
          enum:
          - learner
          - instructor
          description: 受講者(learner)または講師(instructor)のみ指定可能。operator/root_operatorは /operators 経由。
      additionalProperties: false
      required:
      - email
      - name
      - globalRole
    UserUpdateRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        name:
          type: string
        globalRole:
          type: string
          enum:
          - learner
          - instructor
          description: 受講者(learner)または講師(instructor)のみ指定可能。
        isActive:
          type: boolean
      additionalProperties: false
    UserAdminView:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        status:
          type: string
        lastLoginAt:
          type: string
          format: date-time
          nullable: true
      required:
      - user
      - status
      additionalProperties: false
    UserListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/UserAdminView'
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
      additionalProperties: false
    OperatorAdminView:
      type: object
      properties:
        id:
          type: string
          description: User.id
        email:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        globalRole:
          type: string
          enum: &id001
          - operator
          - root_operator
          description: operator または root_operator
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - id
      - globalRole
      - isActive
      - createdAt
      - updatedAt
      additionalProperties: false
    OperatorListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/OperatorAdminView'
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
    OperatorCreateRequest:
      type: object
      properties:
        userId:
          type: string
          description: 運営スタッフに昇格させる既存ユーザーのID
        globalRole:
          type: string
          enum: *id001
          description: operator または root_operator
      additionalProperties: false
      required:
      - userId
      - globalRole
    OperatorUpdateRequest:
      type: object
      properties:
        globalRole:
          type: string
          enum: *id001
          description: operator または root_operator
      additionalProperties: false
      required:
      - globalRole
    Course:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
          nullable: true
        ownerUserId:
          type: string
        catalogVisibility:
          type: string
          enum: &id002
          - public_listed
          - public_unlisted
          - private
        visibility:
          type: string
          enum: &id003
          - public
          - instructors_only
        isFrozen:
          type: boolean
        frozenAt:
          type: string
          format: date-time
          nullable: true
        frozenByUserId:
          type: string
          nullable: true
        freezeReason:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        createdByUserId:
          type: string
          description: 作成者ユーザーID（instructor or operator/root_operator）
        status:
          type: string
          enum:
          - draft
          - pending_approval
          - active
          - archived
          description: 講座ステータス
        approvalRequestedAt:
          type: string
          format: date-time
          nullable: true
        approvedAt:
          type: string
          format: date-time
          nullable: true
        approvedByUserId:
          type: string
          nullable: true
      additionalProperties: false
      required:
      - id
      - title
      - ownerUserId
      - catalogVisibility
      - visibility
      - isFrozen
      - createdAt
      - updatedAt
      - createdByUserId
      - status
    AdminCourseCreateRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        ownerUserId:
          type: string
          description: このコースのオーナー講師（必須）。初期CourseMemberロールはinstructorとして仮与。公開（publish）時にinstructor_ownerへ昇格する。
        catalogVisibility:
          type: string
          enum: *id002
        visibility:
          type: string
          enum: *id003
      additionalProperties: false
      required:
      - title
      - ownerUserId
    AdminCourseUpdateRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        ownerUserId:
          type: string
        catalogVisibility:
          type: string
          enum: *id002
        visibility:
          type: string
          enum: *id003
      additionalProperties: false
    CourseDetailView:
      type: object
      allOf:
      - $ref: '#/components/schemas/Course'
    CourseListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Course'
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
      additionalProperties: false
    CourseChannel:
      type: object
      properties:
        id:
          type: string
        courseId:
          type: string
        type:
          type: string
          enum:
          - assignment
          - one_on_one
          - announcement
          - general
        postingMode:
          type: string
          enum:
          - mixed
          - threads_only
        isFrozen:
          type: boolean
        name:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - id
      - courseId
      - type
      - postingMode
      - isFrozen
      - createdAt
      - updatedAt
    CourseChannelDetailView:
      type: object
      allOf:
      - $ref: '#/components/schemas/CourseChannel'
    PaymentSummaryView:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        courseId:
          type: string
          nullable: true
        amount:
          type: integer
        currency:
          type: string
        status:
          type: string
        provider:
          type: string
        paidAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - id
      - userId
      - amount
      - currency
      - status
      - provider
      - createdAt
    PaymentListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PaymentSummaryView'
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
      additionalProperties: false
    GenericWriteRequest:
      type: object
      additionalProperties: true
    GenericDetailView:
      type: object
      additionalProperties: true
    GenericListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
      required:
      - success
      additionalProperties: false
    ErrorResponse:
      type: object
      properties:
        statusCode:
          type: integer
        message:
          type: string
        error:
          type: string
      required:
      - statusCode
      - message
      additionalProperties: false
    ListMeta:
      type: object
      properties:
        totalCount:
          type: integer
        page:
          type: integer
        perPage:
          type: integer
        totalPages:
          type: integer
      required:
      - totalCount
      - page
      - perPage
      - totalPages
      additionalProperties: false
    UserMeView:
      type: object
      allOf:
      - $ref: '#/components/schemas/User'
    GlobalRole:
      type: string
      enum:
      - guest
      - learner
      - instructor
      - operator
      - root_operator
    OrderStatus:
      type: string
      enum:
      - pending
      - paid
      - cancelled
      - failed
      - refunded
    SubmissionStatus:
      type: string
      enum:
      - draft
      - submitted
      - returned
      - graded
    AuditEventType:
      type: string
      enum:
      - announcement_emergency_posted
      - course_frozen
      - course_unfrozen
      - channel_frozen
      - channel_unfrozen
      - dm_viewed_by_root_operator
      - course_created
      - course_approval_requested
      - course_approved
      - course_published
      - course_member_role_promoted
      - user_frozen
      - user_unfrozen
      - user_created
      - user_updated
      - user_deleted
      - operator_role_changed
