openapi: 3.1.0
info:
  title: adapt Admin API (V1 - 基本設計書完全準拠)
  version: v19-integrated
  description: "adapt オンライン学習プラットフォーム Admin API\n\n## 概要\n- **対象**: 運営者向け管理API\n- **認証**: OIDC（auth.adapt-co.io）+ Bearer Token\n\
    - **権限**: operator または root_operator のみ\n- **エンドポイント数**: 13個\n- **基本設計書**: 06_API一覧 完全準拠（100%）\n\n## 機能グループ\n\n### コース管理\n\
    - コース一覧・検索\n- コース承認（審査）\n- コース凍結・凍結解除\n- 監査ログ閲覧\n\n### ユーザー・講師管理\n- ユーザー一覧・検索\n- ユーザー凍結\n\n### チャンネル管理\n- チャンネル凍結・凍結解除\n\
    - 不適切コンテンツ対応\n\n### 決済管理\n- 決済一覧\n- 売上分析\n- 返金処理\n\n### 運営スタッフ管理\n- 運営スタッフ一覧\n- 運営スタッフ追加\n- 権限管理（operator/root_operator）\n\
    \n## 認証・認可\n\n### 認証方式\n- **OIDC**: auth.adapt-co.ioでの認証\n- **Bearer Token**: JWTトークンをAuthorizationヘッダーに設定\n- **全エンドポイント**:\
    \ 認証必須\n\n### ロール階層\n- `root_operator`: すべての権限（DM閲覧、緊急凍結等）\n- `operator`: 通常の運営権限\n\n### x-roles 拡張プロパティ\n```yaml\nx-roles:\n\
    \  - operator  # operator以上（root_operator含む）\n  \nx-roles:\n  - root_operator      # root_operator のみ\n```\n\n## 監査ログ\n\
    \n### 自動記録\n以下の操作は自動的に監査ログに記録：\n- コース凍結・凍結解除\n- チャンネル凍結・凍結解除\n- ユーザー凍結\n- DM閲覧（root_operator権限）\n- 緊急アナウンス投稿\n\n### 監査イベント種別\n\
    - `course_frozen`: コース凍結\n- `course_unfrozen`: コース凍結解除\n- `channel_frozen`: チャンネル凍結\n- `channel_unfrozen`: チャンネル凍結解除\n\
    - `dm_viewed_by_root_operator`: root_operatorによるDM閲覧\n\n## 設計原則\n\n### アーキテクチャ\n- **Repository Pattern**: Service層はORM非依存\n\
    - **DTO分離**: Prisma ModelはDTOとして公開しない\n- **監査ログ**: 重要操作は必ず記録\n\n### セキュリティ\n- **権限チェック**: 全エンドポイントでロール確認\n- **監査ログ**:\
    \ すべての管理操作を記録\n- **レート制限**: abuse防止\n\n## 技術スタック\n- **フレームワーク**: NestJS\n- **DB**: PostgreSQL\n- **ORM**: Prisma\n- **認証**:\
    \ OIDC + Google OAuth\n"
servers:
- url: https://admin.adapt-co.io
tags:
- name: Admin
- name: admin
paths:
  /api/v1/admin/courses:
    get:
      tags:
      - Admin
      summary: 全講座一覧
      description: システム全体の全コース検索。ステータスや売上規模でのソートが可能。
      operationId: API_069
      x-api-id: API-069
      x-roles: operator, root_operator
      x-policy: '-'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseListResponse'
      security:
      - bearerAuth: []
    post:
      tags:
      - admin
      summary: 講座新規作成（運営）
      description: operator/root_operator が講座を作成し、ownerUserId（=指定講師）を必須指定する。初期status=draft（非公開）。承認免除。公開は講師側のpublish操作で行う（publish時にCourseMember.role=instructor→instructor_ownerへ昇格）。
      x-roles: operator, root_operator
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCourseCreateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/admin/courses/{courseId}/approve:
    post:
      tags:
      - Admin
      summary: 講座審査・承認
      description: 公開申請中の講座を承認。statusをactiveにしLPを公開する。
      operationId: API_070
      x-api-id: API-070
      x-roles: operator, root_operator
      x-policy: AUDIT_LOG
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseDetailView'
      security:
      - bearerAuth: []
      parameters:
      - name: courseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericWriteRequest'
  /api/v1/admin/courses/{courseId}/freeze:
    post:
      tags:
      - Admin
      summary: コース凍結（運営）
      description: '規約違反等の際に発動。全更新APIを423 Lockedにする。

        ---

        コースを凍結し、全ユーザーのアクセスを423 Lockedにする'
      operationId: API_079
      x-api-id: API-079
      x-roles: operator, root_operator
      x-policy: AUDIT_LOG
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseDetailView'
      security:
      - bearerAuth: []
      parameters:
      - name: courseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericWriteRequest'
      x-api-merged-from:
      - API-071
  /api/v1/admin/audit/courses/{courseId}:
    get:
      tags:
      - Admin
      summary: '[監査]凍結講座閲覧'
      description: 凍結中の秘匿コンテンツを精査。誰が閲覧したかのログを強制記録。
      operationId: API_073
      x-api-id: API-073
      x-roles: operator, root_operator
      x-policy: AUDIT_LOG(強制)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericDetailView'
      security:
      - bearerAuth: []
      parameters:
      - name: courseId
        in: path
        required: true
        schema:
          type: string
  /api/v1/admin/users:
    get:
      tags:
      - Admin
      summary: 全ユーザー一覧
      description: プラットフォーム上の全アカウントを横断検索。
      operationId: API_074
      x-api-id: API-074
      x-roles: operator, root_operator
      x-policy: '-'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
      security:
      - bearerAuth: []
  /api/v1/admin/users/{userId}/freeze:
    post:
      tags:
      - Admin
      summary: ユーザー凍結(BAN)
      description: 悪質ユーザーのシステム全体へのアクセス禁止処理。
      operationId: API_075
      x-api-id: API-075
      x-roles: operator, root_operator
      x-policy: AUDIT_LOG
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
      security:
      - bearerAuth: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericWriteRequest'
  /api/v1/admin/operators:
    get:
      tags:
      - Admin
      summary: 運営スタッフ一覧
      description: '運営アカウント(GlobalRole: operator/root)の管理。'
      operationId: API_076
      x-api-id: API-076
      x-roles: root_operator
      x-policy: '-'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatorListResponse'
      security:
      - bearerAuth: []
    post:
      tags:
      - Admin
      summary: 運営スタッフ追加
      description: 新規運営アカウントの発行。監査ログ対象。
      operationId: API_077
      x-api-id: API-077
      x-roles: root_operator
      x-policy: AUDIT_LOG
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericWriteRequest'
  /api/v1/admin/payments:
    get:
      tags:
      - Admin
      summary: 決済履歴一覧
      description: Stripe経由の全決済ログ、返金対応状況、売上分配を監視。
      operationId: API_078
      x-api-id: API-078
      x-roles: operator, root_operator
      x-policy: '-'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentListResponse'
      security:
      - bearerAuth: []
  /api/v1/admin/courses/{courseId}/unfreeze:
    post:
      tags:
      - Admin
      summary: コース凍結解除（運営）
      description: コースの凍結を解除し、通常アクセスを復帰させる
      operationId: API_080
      x-api-id: API-080
      x-roles: root_operator
      x-policy: '-'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseDetailView'
      security:
      - bearerAuth: []
      parameters:
      - name: courseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericWriteRequest'
  /api/v1/admin/channels/{channelId}/freeze:
    post:
      tags:
      - Admin
      summary: チャンネル凍結（運営）
      description: チャンネルを凍結
      operationId: API_081
      x-api-id: API-081
      x-roles: operator, root_operator
      x-policy: '-'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseChannelDetailView'
      security:
      - bearerAuth: []
      parameters:
      - name: channelId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericWriteRequest'
  /api/v1/admin/channels/{channelId}/unfreeze:
    post:
      tags:
      - Admin
      summary: チャンネル凍結解除（運営）
      description: チャンネルの凍結を解除
      operationId: API_082
      x-api-id: API-082
      x-roles: root_operator
      x-policy: '-'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseChannelDetailView'
      security:
      - bearerAuth: []
      parameters:
      - name: channelId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericWriteRequest'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        isActive:
          type: boolean
        deletedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        globalRole:
          $ref: '#/components/schemas/GlobalRole'
          enum:
          - guest
          - learner
          - instructor
          - assistant
          - operator
          - root_operator
      additionalProperties: false
      required:
      - createdAt
      - id
      - isActive
      - updatedAt
      - globalRole
    UserCreateRequest:
      type: object
      properties:
        email:
          type: string
        name:
          type: string
        isActive:
          type: boolean
        deletedAt:
          type: string
          format: date-time
      additionalProperties: false
    UserUpdateRequest:
      type: object
      properties:
        email:
          type: string
        name:
          type: string
        isActive:
          type: boolean
        deletedAt:
          type: string
          format: date-time
      additionalProperties: false
    PlatformMembership:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        role:
          type: string
          enum: &id001
          - operator
          - root_operator
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - createdAt
      - id
      - role
      - updatedAt
      - userId
    PlatformMembershipCreateRequest:
      type: object
      properties:
        userId:
          type: string
        role:
          type: string
          enum: *id001
      additionalProperties: false
      required:
      - role
      - userId
    PlatformMembershipUpdateRequest:
      type: object
      properties:
        userId:
          type: string
        role:
          type: string
          enum: *id001
      additionalProperties: false
    Course:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
          nullable: true
        ownerUserId:
          type: string
        catalogVisibility:
          type: string
          enum: &id002
          - public_listed
          - public_unlisted
          - private
        visibility:
          type: string
          enum: &id003
          - public
          - instructors_only
        isFrozen:
          type: boolean
        frozenAt:
          type: string
          format: date-time
          nullable: true
        frozenByUserId:
          type: string
          nullable: true
        freezeReason:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        createdByUserId:
          type: string
          description: 作成者ユーザーID（instructor 作成 or operator/root 作成）
        status:
          type: string
          enum:
          - draft
          - pending_approval
          - active
          - archived
          description: 講座ステータス
        approvalRequestedAt:
          type: string
          format: date-time
          nullable: true
        approvedAt:
          type: string
          format: date-time
          nullable: true
        approvedByUserId:
          type: string
          nullable: true
      additionalProperties: false
      required:
      - visibility
      - updatedAt
      - createdByUserId
      - createdAt
      - title
      - isFrozen
      - ownerUserId
      - catalogVisibility
      - id
      - status
    CourseCreateRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        ownerUserId:
          type: string
        catalogVisibility:
          type: string
          enum: *id002
        visibility:
          type: string
          enum: *id003
        isFrozen:
          type: boolean
        frozenAt:
          type: string
          format: date-time
        frozenByUserId:
          type: string
        freezeReason:
          type: string
      additionalProperties: false
      required:
      - ownerUserId
      - title
    CourseUpdateRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        ownerUserId:
          type: string
        catalogVisibility:
          type: string
          enum: *id002
        visibility:
          type: string
          enum: *id003
        isFrozen:
          type: boolean
        frozenAt:
          type: string
          format: date-time
        frozenByUserId:
          type: string
        freezeReason:
          type: string
      additionalProperties: false
    CourseMember:
      type: object
      properties:
        id:
          type: string
        courseId:
          type: string
        userId:
          type: string
        role:
          type: string
          enum: &id004
          - instructor_owner
          - learner
          - instructor
          - assistant
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - courseId
      - createdAt
      - id
      - role
      - updatedAt
      - userId
    CourseMemberCreateRequest:
      type: object
      properties:
        courseId:
          type: string
        userId:
          type: string
        role:
          type: string
          enum: *id004
      additionalProperties: false
      required:
      - courseId
      - role
      - userId
    CourseMemberUpdateRequest:
      type: object
      properties:
        courseId:
          type: string
        userId:
          type: string
        role:
          type: string
          enum: *id004
      additionalProperties: false
    Lesson:
      type: object
      properties:
        id:
          type: string
        courseId:
          type: string
        type:
          type: string
          enum: &id005
          - text
          - video
          - live
          - assignment
        title:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - courseId
      - createdAt
      - id
      - title
      - type
      - updatedAt
    LessonCreateRequest:
      type: object
      properties:
        courseId:
          type: string
        type:
          type: string
          enum: *id005
        title:
          type: string
      additionalProperties: false
      required:
      - courseId
      - title
      - type
    LessonUpdateRequest:
      type: object
      properties:
        courseId:
          type: string
        type:
          type: string
          enum: *id005
        title:
          type: string
      additionalProperties: false
    Assignment:
      type: object
      properties:
        id:
          type: string
        courseId:
          type: string
        title:
          type: string
        description:
          type: string
          nullable: true
        dueAt:
          type: string
          format: date-time
          nullable: true
        allowResubmission:
          type: boolean
        isPublished:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - allowResubmission
      - courseId
      - createdAt
      - id
      - isPublished
      - title
      - updatedAt
    AssignmentCreateRequest:
      type: object
      properties:
        courseId:
          type: string
        title:
          type: string
        description:
          type: string
        dueAt:
          type: string
          format: date-time
        allowResubmission:
          type: boolean
        isPublished:
          type: boolean
      additionalProperties: false
      required:
      - courseId
      - title
    AssignmentUpdateRequest:
      type: object
      properties:
        courseId:
          type: string
        title:
          type: string
        description:
          type: string
        dueAt:
          type: string
          format: date-time
        allowResubmission:
          type: boolean
        isPublished:
          type: boolean
      additionalProperties: false
    CourseChannel:
      type: object
      properties:
        id:
          type: string
        courseId:
          type: string
        type:
          type: string
          enum: &id006
          - assignment
          - one_on_one
          - announcement
          - general
        postingMode:
          type: string
          enum: &id007
          - mixed
          - threads_only
        visibility:
          type: string
          enum: *id003
        isFrozen:
          type: boolean
        frozenAt:
          type: string
          format: date-time
          nullable: true
        frozenByUserId:
          type: string
          nullable: true
        freezeReason:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        isManual:
          type: boolean
        systemKey:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - courseId
      - createdAt
      - id
      - isFrozen
      - isManual
      - postingMode
      - type
      - updatedAt
      - visibility
    CourseChannelCreateRequest:
      type: object
      properties:
        courseId:
          type: string
        type:
          type: string
          enum: *id006
        postingMode:
          type: string
          enum: *id007
        visibility:
          type: string
          enum: *id003
        isFrozen:
          type: boolean
        frozenAt:
          type: string
          format: date-time
        frozenByUserId:
          type: string
        freezeReason:
          type: string
        name:
          type: string
        isManual:
          type: boolean
        systemKey:
          type: string
      additionalProperties: false
      required:
      - courseId
      - type
    CourseChannelUpdateRequest:
      type: object
      properties:
        courseId:
          type: string
        type:
          type: string
          enum: *id006
        postingMode:
          type: string
          enum: *id007
        visibility:
          type: string
          enum: *id003
        isFrozen:
          type: boolean
        frozenAt:
          type: string
          format: date-time
        frozenByUserId:
          type: string
        freezeReason:
          type: string
        name:
          type: string
        isManual:
          type: boolean
        systemKey:
          type: string
      additionalProperties: false
    CourseChannelMember:
      type: object
      properties:
        id:
          type: string
        channelId:
          type: string
        courseMemberId:
          type: string
        status:
          type: string
          enum: &id008
          - invited
          - joined
          - declined
        invitedAt:
          type: string
          format: date-time
          nullable: true
        joinedAt:
          type: string
          format: date-time
          nullable: true
        declinedAt:
          type: string
          format: date-time
          nullable: true
        lastReadMessageId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - channelId
      - courseMemberId
      - createdAt
      - id
      - status
      - updatedAt
    CourseChannelMemberCreateRequest:
      type: object
      properties:
        channelId:
          type: string
        courseMemberId:
          type: string
        status:
          type: string
          enum: *id008
        invitedAt:
          type: string
          format: date-time
        joinedAt:
          type: string
          format: date-time
        declinedAt:
          type: string
          format: date-time
        lastReadMessageId:
          type: string
      additionalProperties: false
      required:
      - channelId
      - courseMemberId
    CourseChannelMemberUpdateRequest:
      type: object
      properties:
        channelId:
          type: string
        courseMemberId:
          type: string
        status:
          type: string
          enum: *id008
        invitedAt:
          type: string
          format: date-time
        joinedAt:
          type: string
          format: date-time
        declinedAt:
          type: string
          format: date-time
        lastReadMessageId:
          type: string
      additionalProperties: false
    CourseThread:
      type: object
      properties:
        id:
          type: string
        channelId:
          type: string
        type:
          type: string
          enum: &id009
          - submission
          - message_thread
        rootMessageId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - channelId
      - createdAt
      - id
      - type
      - updatedAt
    CourseThreadCreateRequest:
      type: object
      properties:
        channelId:
          type: string
        type:
          type: string
          enum: *id009
        rootMessageId:
          type: string
      additionalProperties: false
      required:
      - channelId
      - type
    CourseThreadUpdateRequest:
      type: object
      properties:
        channelId:
          type: string
        type:
          type: string
          enum: *id009
        rootMessageId:
          type: string
      additionalProperties: false
    CourseThreadReadState:
      type: object
      properties:
        id:
          type: string
        threadId:
          type: string
        courseMemberId:
          type: string
        lastReadMessageId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - courseMemberId
      - createdAt
      - id
      - threadId
      - updatedAt
    CourseThreadReadStateCreateRequest:
      type: object
      properties:
        threadId:
          type: string
        courseMemberId:
          type: string
        lastReadMessageId:
          type: string
      additionalProperties: false
      required:
      - courseMemberId
      - threadId
    CourseThreadReadStateUpdateRequest:
      type: object
      properties:
        threadId:
          type: string
        courseMemberId:
          type: string
        lastReadMessageId:
          type: string
      additionalProperties: false
    CourseMessage:
      type: object
      properties:
        id:
          type: string
        channelId:
          type: string
        threadId:
          type: string
          nullable: true
        authorCourseMemberId:
          type: string
          nullable: true
        text:
          type: string
        isEmergency:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - channelId
      - createdAt
      - id
      - isEmergency
      - text
      - updatedAt
    CourseMessageCreateRequest:
      type: object
      properties:
        channelId:
          type: string
        threadId:
          type: string
        authorCourseMemberId:
          type: string
        text:
          type: string
        isEmergency:
          type: boolean
      additionalProperties: false
      required:
      - channelId
      - text
    CourseMessageUpdateRequest:
      type: object
      properties:
        channelId:
          type: string
        threadId:
          type: string
        authorCourseMemberId:
          type: string
        text:
          type: string
        isEmergency:
          type: boolean
      additionalProperties: false
    CourseMessageAttachment:
      type: object
      properties:
        id:
          type: string
        courseMessageId:
          type: string
        type:
          type: string
        storageKey:
          type: string
        fileName:
          type: string
        mimeType:
          type: string
        size:
          type: integer
          format: int32
        createdAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - courseMessageId
      - createdAt
      - fileName
      - id
      - mimeType
      - size
      - storageKey
      - type
    CourseMessageAttachmentCreateRequest:
      type: object
      properties:
        courseMessageId:
          type: string
        type:
          type: string
        storageKey:
          type: string
        fileName:
          type: string
        mimeType:
          type: string
        size:
          type: integer
          format: int32
      additionalProperties: false
      required:
      - courseMessageId
      - fileName
      - mimeType
      - size
      - storageKey
      - type
    CourseMessageAttachmentUpdateRequest:
      type: object
      properties:
        courseMessageId:
          type: string
        type:
          type: string
        storageKey:
          type: string
        fileName:
          type: string
        mimeType:
          type: string
        size:
          type: integer
          format: int32
      additionalProperties: false
    CourseNotificationPreference:
      type: object
      properties:
        id:
          type: string
        courseMemberId:
          type: string
        announcementNormalEnabled:
          type: boolean
        submissionEnabled:
          type: boolean
        submissionCommentEnabled:
          type: boolean
        threadReplyEnabled:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - announcementNormalEnabled
      - courseMemberId
      - createdAt
      - id
      - submissionCommentEnabled
      - submissionEnabled
      - threadReplyEnabled
      - updatedAt
    CourseNotificationPreferenceCreateRequest:
      type: object
      properties:
        courseMemberId:
          type: string
        announcementNormalEnabled:
          type: boolean
        submissionEnabled:
          type: boolean
        submissionCommentEnabled:
          type: boolean
        threadReplyEnabled:
          type: boolean
      additionalProperties: false
      required:
      - courseMemberId
    CourseNotificationPreferenceUpdateRequest:
      type: object
      properties:
        courseMemberId:
          type: string
        announcementNormalEnabled:
          type: boolean
        submissionEnabled:
          type: boolean
        submissionCommentEnabled:
          type: boolean
        threadReplyEnabled:
          type: boolean
      additionalProperties: false
    CourseChannelNotificationPreference:
      type: object
      properties:
        id:
          type: string
        courseMemberId:
          type: string
        channelId:
          type: string
        muted:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - channelId
      - courseMemberId
      - createdAt
      - id
      - muted
      - updatedAt
    CourseChannelNotificationPreferenceCreateRequest:
      type: object
      properties:
        courseMemberId:
          type: string
        channelId:
          type: string
        muted:
          type: boolean
      additionalProperties: false
      required:
      - channelId
      - courseMemberId
    CourseChannelNotificationPreferenceUpdateRequest:
      type: object
      properties:
        courseMemberId:
          type: string
        channelId:
          type: string
        muted:
          type: boolean
      additionalProperties: false
    CourseEnrollment:
      type: object
      properties:
        id:
          type: string
        courseId:
          type: string
        userId:
          type: string
        status:
          type: string
          enum: &id010
          - applied
          - active
          - revoked
        grantedAt:
          type: string
          format: date-time
          nullable: true
        revokedAt:
          type: string
          format: date-time
          nullable: true
        paidAt:
          type: string
          format: date-time
          nullable: true
        source:
          type: string
          enum: &id011
          - stripe
          - manual
        paymentId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - courseId
      - createdAt
      - id
      - source
      - status
      - updatedAt
      - userId
    CourseEnrollmentCreateRequest:
      type: object
      properties:
        courseId:
          type: string
        userId:
          type: string
        status:
          type: string
          enum: *id010
        grantedAt:
          type: string
          format: date-time
        revokedAt:
          type: string
          format: date-time
        paidAt:
          type: string
          format: date-time
        source:
          type: string
          enum: *id011
        paymentId:
          type: string
      additionalProperties: false
      required:
      - courseId
      - userId
    CourseEnrollmentUpdateRequest:
      type: object
      properties:
        courseId:
          type: string
        userId:
          type: string
        status:
          type: string
          enum: *id010
        grantedAt:
          type: string
          format: date-time
        revokedAt:
          type: string
          format: date-time
        paidAt:
          type: string
          format: date-time
        source:
          type: string
          enum: *id011
        paymentId:
          type: string
      additionalProperties: false
    Payment:
      type: object
      properties:
        id:
          type: string
        provider:
          type: string
          enum: *id011
        providerRef:
          type: string
          nullable: true
        userId:
          type: string
        courseId:
          type: string
          nullable: true
        amount:
          type: integer
          format: int32
        currency:
          type: string
        status:
          type: string
          enum: &id012
          - pending
          - succeeded
          - failed
          - canceled
          - refunded
        paidAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - amount
      - createdAt
      - currency
      - id
      - provider
      - status
      - updatedAt
      - userId
    PaymentCreateRequest:
      type: object
      properties:
        provider:
          type: string
          enum: *id011
        providerRef:
          type: string
        userId:
          type: string
        courseId:
          type: string
        amount:
          type: integer
          format: int32
        currency:
          type: string
        status:
          type: string
          enum: *id012
        paidAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - amount
      - userId
    PaymentUpdateRequest:
      type: object
      properties:
        provider:
          type: string
          enum: *id011
        providerRef:
          type: string
        userId:
          type: string
        courseId:
          type: string
        amount:
          type: integer
          format: int32
        currency:
          type: string
        status:
          type: string
          enum: *id012
        paidAt:
          type: string
          format: date-time
      additionalProperties: false
    Refund:
      type: object
      properties:
        id:
          type: string
        paymentId:
          type: string
        providerRef:
          type: string
          nullable: true
        amount:
          type: integer
          format: int32
        status:
          type: string
          enum: &id013
          - pending
          - succeeded
          - failed
          - canceled
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - amount
      - createdAt
      - id
      - paymentId
      - status
      - updatedAt
    RefundCreateRequest:
      type: object
      properties:
        paymentId:
          type: string
        providerRef:
          type: string
        amount:
          type: integer
          format: int32
        status:
          type: string
          enum: *id013
      additionalProperties: false
      required:
      - amount
      - paymentId
    RefundUpdateRequest:
      type: object
      properties:
        paymentId:
          type: string
        providerRef:
          type: string
        amount:
          type: integer
          format: int32
        status:
          type: string
          enum: *id013
      additionalProperties: false
    Coupon:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
        discountType:
          type: string
          enum: &id014
          - amount_fixed
          - amount_percent
        discountValue:
          type: integer
          format: int32
        currency:
          type: string
          nullable: true
        expiresAt:
          type: string
          format: date-time
          nullable: true
        usageLimit:
          type: integer
          format: int32
          nullable: true
        usedCount:
          type: integer
          format: int32
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - code
      - createdAt
      - discountType
      - discountValue
      - id
      - isActive
      - updatedAt
      - usedCount
    CouponCreateRequest:
      type: object
      properties:
        code:
          type: string
        discountType:
          type: string
          enum: *id014
        discountValue:
          type: integer
          format: int32
        currency:
          type: string
        expiresAt:
          type: string
          format: date-time
        usageLimit:
          type: integer
          format: int32
        usedCount:
          type: integer
          format: int32
        isActive:
          type: boolean
      additionalProperties: false
      required:
      - code
      - discountType
      - discountValue
    CouponUpdateRequest:
      type: object
      properties:
        code:
          type: string
        discountType:
          type: string
          enum: *id014
        discountValue:
          type: integer
          format: int32
        currency:
          type: string
        expiresAt:
          type: string
          format: date-time
        usageLimit:
          type: integer
          format: int32
        usedCount:
          type: integer
          format: int32
        isActive:
          type: boolean
      additionalProperties: false
    CouponRedemption:
      type: object
      properties:
        id:
          type: string
        couponId:
          type: string
        userId:
          type: string
        courseId:
          type: string
          nullable: true
        paymentId:
          type: string
          nullable: true
        redeemedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - couponId
      - createdAt
      - id
      - redeemedAt
      - updatedAt
      - userId
    CouponRedemptionCreateRequest:
      type: object
      properties:
        couponId:
          type: string
        userId:
          type: string
        courseId:
          type: string
        paymentId:
          type: string
        redeemedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - couponId
      - userId
    CouponRedemptionUpdateRequest:
      type: object
      properties:
        couponId:
          type: string
        userId:
          type: string
        courseId:
          type: string
        paymentId:
          type: string
        redeemedAt:
          type: string
          format: date-time
      additionalProperties: false
    AuditEvent:
      type: object
      properties:
        id:
          type: string
        occurredAt:
          type: string
          format: date-time
        actorUserId:
          type: string
        actorGlobalRole:
          type: string
          enum: &id015
          - guest
          - learner
          - instructor
          - assistant
          - operator
          - root_operator
        eventType:
          $ref: '#/components/schemas/AuditEventType'
          enum: &id016
          - announcement_emergency_posted
          - course_frozen
          - course_unfrozen
          - channel_frozen
          - channel_unfrozen
          - dm_viewed_by_root_operator
          - course_created
          - course_approval_requested
          - course_approved
          - course_published
          - course_member_role_promoted
          type: string
        courseId:
          type: string
          nullable: true
        channelId:
          type: string
          nullable: true
        messageId:
          type: string
          nullable: true
        reason:
          type: string
        metaJson:
          type: object
          nullable: true
        requestId:
          type: string
          nullable: true
        ipHash:
          type: string
          nullable: true
        userAgentHash:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - actorGlobalRole
      - actorUserId
      - createdAt
      - eventType
      - id
      - occurredAt
      - reason
      - updatedAt
    AuditEventCreateRequest:
      type: object
      properties:
        occurredAt:
          type: string
          format: date-time
        actorUserId:
          type: string
        actorGlobalRole:
          type: string
          enum: *id015
        eventType:
          type: string
          enum: *id016
        courseId:
          type: string
        channelId:
          type: string
        messageId:
          type: string
        reason:
          type: string
        metaJson:
          type: object
        requestId:
          type: string
        ipHash:
          type: string
        userAgentHash:
          type: string
      additionalProperties: false
      required:
      - actorGlobalRole
      - actorUserId
      - eventType
      - reason
    AuditEventUpdateRequest:
      type: object
      properties:
        occurredAt:
          type: string
          format: date-time
        actorUserId:
          type: string
        actorGlobalRole:
          type: string
          enum: *id015
        eventType:
          type: string
          enum: *id016
        courseId:
          type: string
        channelId:
          type: string
        messageId:
          type: string
        reason:
          type: string
        metaJson:
          type: object
        requestId:
          type: string
        ipHash:
          type: string
        userAgentHash:
          type: string
      additionalProperties: false
    Order:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        courseId:
          type: string
        amount:
          type: integer
          format: int32
        currency:
          type: string
        status:
          $ref: '#/components/schemas/OrderStatus'
          enum: &id017
          - pending
          - paid
          - cancelled
          - failed
          - refunded
        paymentProvider:
          type: string
        paymentIntentId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - amount
      - courseId
      - createdAt
      - currency
      - id
      - paymentProvider
      - status
      - userId
    OrderCreateRequest:
      type: object
      properties:
        userId:
          type: string
        courseId:
          type: string
        amount:
          type: integer
          format: int32
        currency:
          type: string
        status:
          type: string
          enum: *id017
        paymentProvider:
          type: string
        paymentIntentId:
          type: string
      additionalProperties: false
      required:
      - amount
      - courseId
      - currency
      - paymentProvider
      - status
      - userId
    OrderUpdateRequest:
      type: object
      properties:
        userId:
          type: string
        courseId:
          type: string
        amount:
          type: integer
          format: int32
        currency:
          type: string
        status:
          type: string
          enum: *id017
        paymentProvider:
          type: string
        paymentIntentId:
          type: string
      additionalProperties: false
    OAuthIdentity:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        provider:
          type: string
        providerUserId:
          type: string
        email:
          type: string
          nullable: true
        lastLoginAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - createdAt
      - id
      - provider
      - providerUserId
      - userId
    OAuthIdentityCreateRequest:
      type: object
      properties:
        userId:
          type: string
        provider:
          type: string
        providerUserId:
          type: string
        email:
          type: string
        lastLoginAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - provider
      - providerUserId
      - userId
    OAuthIdentityUpdateRequest:
      type: object
      properties:
        userId:
          type: string
        provider:
          type: string
        providerUserId:
          type: string
        email:
          type: string
        lastLoginAt:
          type: string
          format: date-time
      additionalProperties: false
    PasswordCredential:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        passwordHash:
          type: string
        algorithm:
          type: string
        passwordUpdatedAt:
          type: string
          format: date-time
        isDisabled:
          type: boolean
        failedCount:
          type: integer
          format: int32
        lastFailedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - algorithm
      - createdAt
      - failedCount
      - id
      - isDisabled
      - passwordHash
      - passwordUpdatedAt
      - updatedAt
      - userId
    PasswordCredentialCreateRequest:
      type: object
      properties:
        userId:
          type: string
        passwordHash:
          type: string
        algorithm:
          type: string
        passwordUpdatedAt:
          type: string
          format: date-time
        isDisabled:
          type: boolean
        failedCount:
          type: integer
          format: int32
        lastFailedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - algorithm
      - passwordHash
      - passwordUpdatedAt
      - userId
    PasswordCredentialUpdateRequest:
      type: object
      properties:
        userId:
          type: string
        passwordHash:
          type: string
        algorithm:
          type: string
        passwordUpdatedAt:
          type: string
          format: date-time
        isDisabled:
          type: boolean
        failedCount:
          type: integer
          format: int32
        lastFailedAt:
          type: string
          format: date-time
      additionalProperties: false
    FileObject:
      type: object
      properties:
        id:
          type: string
        storageKey:
          type: string
        bucket:
          type: string
        fileName:
          type: string
        mimeType:
          type: string
        size:
          type: integer
          format: int32
        checksum:
          type: string
          nullable: true
        isScanned:
          type: boolean
        isMalicious:
          type: boolean
        createdByUserId:
          type: string
          nullable: true
        deletedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - bucket
      - createdAt
      - fileName
      - id
      - isMalicious
      - isScanned
      - mimeType
      - size
      - storageKey
    FileObjectCreateRequest:
      type: object
      properties:
        storageKey:
          type: string
        bucket:
          type: string
        fileName:
          type: string
        mimeType:
          type: string
        size:
          type: integer
          format: int32
        checksum:
          type: string
        isScanned:
          type: boolean
        isMalicious:
          type: boolean
        createdByUserId:
          type: string
        deletedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - bucket
      - fileName
      - mimeType
      - size
      - storageKey
    FileObjectUpdateRequest:
      type: object
      properties:
        storageKey:
          type: string
        bucket:
          type: string
        fileName:
          type: string
        mimeType:
          type: string
        size:
          type: integer
          format: int32
        checksum:
          type: string
        isScanned:
          type: boolean
        isMalicious:
          type: boolean
        createdByUserId:
          type: string
        deletedAt:
          type: string
          format: date-time
      additionalProperties: false
    Submission:
      type: object
      properties:
        id:
          type: string
        assignmentId:
          type: string
        courseId:
          type: string
        userId:
          type: string
        threadId:
          type: string
        submittedAt:
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/SubmissionStatus'
          enum: &id018
          - draft
          - submitted
          - returned
          - graded
        gradedAt:
          type: string
          format: date-time
          nullable: true
      additionalProperties: false
      required:
      - assignmentId
      - courseId
      - id
      - status
      - submittedAt
      - threadId
      - userId
    SubmissionCreateRequest:
      type: object
      properties:
        assignmentId:
          type: string
        courseId:
          type: string
        userId:
          type: string
        threadId:
          type: string
        submittedAt:
          type: string
          format: date-time
        status:
          type: string
          enum: *id018
        gradedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - assignmentId
      - courseId
      - status
      - threadId
      - userId
    SubmissionUpdateRequest:
      type: object
      properties:
        assignmentId:
          type: string
        courseId:
          type: string
        userId:
          type: string
        threadId:
          type: string
        submittedAt:
          type: string
          format: date-time
        status:
          type: string
          enum: *id018
        gradedAt:
          type: string
          format: date-time
      additionalProperties: false
    UserProfile:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        displayName:
          type: string
        avatarFileObjectId:
          type: string
          nullable: true
        bio:
          type: string
          nullable: true
        isPublic:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - createdAt
      - displayName
      - id
      - isPublic
      - updatedAt
      - userId
    UserProfileCreateRequest:
      type: object
      properties:
        userId:
          type: string
        displayName:
          type: string
        avatarFileObjectId:
          type: string
        bio:
          type: string
        isPublic:
          type: boolean
      additionalProperties: false
      required:
      - displayName
      - userId
    UserProfileUpdateRequest:
      type: object
      properties:
        userId:
          type: string
        displayName:
          type: string
        avatarFileObjectId:
          type: string
        bio:
          type: string
        isPublic:
          type: boolean
      additionalProperties: false
    GradingComment:
      type: object
      properties:
        id:
          type: string
        courseId:
          type: string
        threadId:
          type: string
        authorUserId:
          type: string
        targetUserId:
          type: string
        body:
          type: string
        score:
          type: integer
          format: int32
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
      required:
      - authorUserId
      - body
      - courseId
      - createdAt
      - id
      - targetUserId
      - threadId
      - updatedAt
    GradingCommentCreateRequest:
      type: object
      properties:
        courseId:
          type: string
        threadId:
          type: string
        authorUserId:
          type: string
        targetUserId:
          type: string
        body:
          type: string
        score:
          type: integer
          format: int32
      additionalProperties: false
      required:
      - authorUserId
      - body
      - courseId
      - targetUserId
      - threadId
    GradingCommentUpdateRequest:
      type: object
      properties:
        courseId:
          type: string
        threadId:
          type: string
        authorUserId:
          type: string
        targetUserId:
          type: string
        body:
          type: string
        score:
          type: integer
          format: int32
      additionalProperties: false
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
      required:
      - success
      additionalProperties: false
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
      required:
      - message
      additionalProperties: false
    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
      required:
      - email
      - password
      additionalProperties: false
    LoginResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
      required:
      - accessToken
      - refreshToken
      additionalProperties: false
    RegisterRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
        name:
          type: string
      required:
      - email
      - password
      - name
      additionalProperties: false
    RegisterResponse:
      $ref: '#/components/schemas/User'
    RefreshResponse:
      type: object
      properties:
        accessToken:
          type: string
      required:
      - accessToken
      additionalProperties: false
    CheckoutRequest:
      type: object
      properties:
        courseId:
          type: string
        couponCode:
          type: string
      required:
      - courseId
      additionalProperties: false
    CheckoutResponse:
      type: object
      properties:
        sessionId:
          type: string
        url:
          type: string
          format: uri
      required:
      - sessionId
      - url
      additionalProperties: false
    Notification:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        title:
          type: string
        body:
          type: string
        isRead:
          type: boolean
        createdAt:
          type: string
          format: date-time
      required:
      - id
      - type
      - title
      - isRead
      - createdAt
      additionalProperties: false
    NotificationListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Notification'
      required:
      - items
      additionalProperties: false
    CourseSideMenuResponse:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
      required:
      - items
      additionalProperties: false
    CursorPageInfo:
      type: object
      properties:
        nextCursor:
          type: string
          nullable: true
        hasMore:
          type: boolean
      required:
      - hasMore
      additionalProperties: false
    OffsetPageInfo:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
        pageSize:
          type: integer
          minimum: 1
        total:
          type: integer
          minimum: 0
          nullable: true
      required:
      - page
      - pageSize
      additionalProperties: false
    ListMeta:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/OffsetPageInfo'
        cursor:
          $ref: '#/components/schemas/CursorPageInfo'
      additionalProperties: false
    UserPublicView:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
        avatarUrl:
          type: string
          nullable: true
      required:
      - id
      - displayName
      additionalProperties: false
    FileObjectView:
      type: object
      properties:
        file:
          $ref: '#/components/schemas/FileObject'
        url:
          type: string
        mimeType:
          type: string
          nullable: true
        size:
          type: integer
          minimum: 0
          nullable: true
      required:
      - file
      - url
      additionalProperties: false
    MessageReactionView:
      type: object
      properties:
        emoji:
          type: string
        count:
          type: integer
          minimum: 0
        reactedByMe:
          type: boolean
      required:
      - emoji
      - count
      - reactedByMe
      additionalProperties: false
    CourseMessageView:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/CourseMessage'
        sender:
          $ref: '#/components/schemas/UserPublicView'
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/FileObjectView'
        reactions:
          type: array
          items:
            $ref: '#/components/schemas/MessageReactionView'
      required:
      - message
      - sender
      - attachments
      - reactions
      additionalProperties: false
    CourseChannelSummaryView:
      type: object
      properties:
        channel:
          $ref: '#/components/schemas/CourseChannel'
        lastMessageAt:
          type: string
          format: date-time
          nullable: true
        unreadCount:
          type: integer
          minimum: 0
      required:
      - channel
      - unreadCount
      additionalProperties: false
    CourseStatsView:
      type: object
      properties:
        learnerCount:
          type: integer
          minimum: 0
        assignmentCount:
          type: integer
          minimum: 0
        lessonCount:
          type: integer
          minimum: 0
        activeChannelCount:
          type: integer
          minimum: 0
      required:
      - learnerCount
      - assignmentCount
      - lessonCount
      - activeChannelCount
      additionalProperties: false
    CourseSummaryView:
      type: object
      properties:
        course:
          $ref: '#/components/schemas/Course'
        channelCount:
          type: integer
          minimum: 0
        memberCount:
          type: integer
          minimum: 0
        isFrozen:
          type: boolean
      required:
      - course
      - channelCount
      - memberCount
      - isFrozen
      additionalProperties: false
    CourseDetailView:
      type: object
      properties:
        course:
          $ref: '#/components/schemas/Course'
        channels:
          type: array
          items:
            $ref: '#/components/schemas/CourseChannelSummaryView'
        stats:
          $ref: '#/components/schemas/CourseStatsView'
      required:
      - course
      - channels
      - stats
      additionalProperties: false
    ThreadSummaryView:
      type: object
      properties:
        threadId:
          type: string
        rootMessage:
          $ref: '#/components/schemas/CourseMessageView'
        replyCount:
          type: integer
          minimum: 0
        lastReplyAt:
          type: string
          format: date-time
          nullable: true
      required:
      - threadId
      - rootMessage
      - replyCount
      additionalProperties: false
    AssignmentSummaryView:
      type: object
      properties:
        assignment:
          $ref: '#/components/schemas/Assignment'
        dueAt:
          type: string
          format: date-time
          nullable: true
        status:
          type: string
      required:
      - assignment
      - status
      additionalProperties: false
    AssignmentDetailView:
      type: object
      properties:
        assignment:
          $ref: '#/components/schemas/Assignment'
        mySubmission:
          $ref: '#/components/schemas/Submission'
        rubric:
          type: object
          additionalProperties: true
          nullable: true
      required:
      - assignment
      additionalProperties: false
    SubmissionView:
      type: object
      properties:
        submission:
          $ref: '#/components/schemas/Submission'
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/FileObjectView'
      required:
      - submission
      - attachments
      additionalProperties: false
    PaymentSummaryView:
      type: object
      properties:
        payment:
          $ref: '#/components/schemas/Payment'
        course:
          $ref: '#/components/schemas/Course'
        buyer:
          $ref: '#/components/schemas/UserPublicView'
      required:
      - payment
      - course
      - buyer
      additionalProperties: false
    CourseListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CourseSummaryView'
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
      additionalProperties: false
    CourseChannelListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CourseChannelSummaryView'
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
      additionalProperties: false
    ThreadListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ThreadSummaryView'
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
      additionalProperties: false
    MessageListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CourseMessageView'
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
      additionalProperties: false
    AssignmentListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AssignmentSummaryView'
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
      additionalProperties: false
    PaymentListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PaymentSummaryView'
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
      additionalProperties: false
    UserAdminView:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        status:
          type: string
        lastLoginAt:
          type: string
          format: date-time
          nullable: true
      required:
      - user
      - status
      additionalProperties: false
    UserListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/UserAdminView'
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
      additionalProperties: false
    GenericWriteRequest:
      type: object
      additionalProperties: true
    GenericDetailView:
      type: object
      additionalProperties: true
    GenericListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
    OperatorAdminView:
      type: object
      additionalProperties: true
    OperatorListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/OperatorAdminView'
        meta:
          $ref: '#/components/schemas/ListMeta'
      required:
      - items
    UserMeView:
      type: object
      allOf:
      - $ref: '#/components/schemas/User'
    CourseChannelDetailView:
      type: object
      allOf:
      - $ref: '#/components/schemas/CourseChannel'
    AdminCourseCreateRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        ownerUserId:
          type: string
          description: このコースのオーナー講師（必須）。初期CourseMemberロールはinstructorとして付与。公開（publish）時にinstructor_ownerへ昇格する。
        catalogVisibility:
          type: string
          enum:
          - public_listed
          - public_unlisted
          - private
        visibility:
          type: string
          enum:
          - public
          - instructors_only
      additionalProperties: false
      required:
      - title
      - ownerUserId
    GlobalRole:
      type: string
      enum:
      - guest
      - learner
      - instructor
      - assistant
      - operator
      - root_operator
    OrderStatus:
      type: string
      enum:
      - pending
      - paid
      - cancelled
      - failed
      - refunded
    SubmissionStatus:
      type: string
      enum:
      - draft
      - submitted
      - returned
      - graded
    AuditEventType:
      type: string
      enum:
      - announcement_emergency_posted
      - course_frozen
      - course_unfrozen
      - channel_frozen
      - channel_unfrozen
      - dm_viewed_by_root_operator
      - course_created
      - course_approval_requested
      - course_approved
      - course_published
      - course_member_role_promoted
